.advantages{
  padding: 108px 0 94px;
  .advantages__item{
    padding: 0 20px;
    .title_secondary{
      color: $color6;
      margin-bottom: 40px;
      font-weight: 300;
      b{
        font-weight: 600;
      }
    }
    .text{
      line-height: 22px;
      min-height: 151px;
      color: $color8;
      font-weight: 400;
    }
    .btn{
      min-width: 190px;
    }
    .advantages__item-image{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 82px;
      margin-bottom: 30px;
    }

  }
}
