#burger-icon{
  width: 20px;
  height: 16px;
  position: relative;
  top: 2px;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#burger-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color2;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
}

#burger-icon span:nth-child(2),#burger-icon span:nth-child(3) {
  top: 6px;
}

#burger-icon span:nth-child(4) {
  top: 12px;
}

#burger-icon.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#burger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-icon.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}


.collapse{
  transition-duration: 0.7s;
  transition-property: height,visibility;
  overflow: hidden;
  transition-timing-function: ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade{
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: all 0s;
}
.fade.in{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  transition: all 0s;
}

.example-enter {
  opacity: 1;
}

.example-enter.example-enter-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 0.01;
}

.example-leave.example-leave-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
