.player-panel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    .track__info{
        margin: 0 0 5px 0;
    }
    .track-duration.track-duration__left{
        margin-right: 15px;
    }
    .track-volume-panel{
        margin-right: 33px;
    }
    .track__name{
        max-width: 125px;
    }
}
.player-panel{
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: -5px;
    .dropdown-menu{
        border: solid 1px #e8f0f2;
        width: 76px;
        min-width: 76px;
        margin-bottom: 0;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      .dropdown-item{
          background: $color14;
          display: flex;
          font-size: 11px;
          padding: 3px;
          &:last-child {
            border-radius: 4px;
          }
          .dropdown-item__text{
              flex:0 0 40%;
              &:nth-of-type(2){
                  flex: 1 0 auto;
                  text-align:left;
              }
          }
        &:first-of-type{
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
    }
    .track-progress{
        .track-progress-wrapper{
            width: 494px;
            .track-progress-wrapper__slider{
                width: 494px;
                opacity: 1;
                transition: opacity 0.5s;
                &.hidden{
                    display: block !important;
                    opacity: 0;
                    transition: opacity 0.3s;
                }
            }
        }
    }

    .btn_version {
        width: 76px;
        min-width: 76px;
        max-width: 76px;
        padding: 4px 9px;
    }
}

.track-control-box{
    margin-right: 16px;
}

.track-progress{
    display: flex;
    align-items: center;
    //margin-right: 16px;
    // padding-bottom: 4px;
    position: relative;
    .track-progress-wrapper{
        cursor: pointer;
        width: 100%;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        .track-progress-wrapper__slider{
            width: 100%;
            top: 20px;
        }
        .track-progress-wrapper__player{
            width: 494px;
            height: 52px;
            position: relative;
            top: -14px;
            opacity: 1;
            transition: opacity 0.7s;
            &.invisible{
                opacity: 0;
                transition: opacity 0.2s;
            }
            canvas{
                width:100%;
                height:100%;
            }
        }
        .track-progress-wrapper__wave{
            width: 494px;
            height: 52px;
            position: relative;
            opacity: 1;
            transition: opacity 0.7s;
            &.invisible{
                opacity: 0;
                transition: opacity 0.2s;
            }
            canvas{
                width:100%;
                height:100%;
            }
        }
        .track-progress-wrapper__progress{
            z-index: 2;
            overflow: hidden;
            canvas{
                width:100%;
                height:100%;
            }
        }
    }

    .track-duration{
        font-size: 11px;
        line-height: 65px;
        color: $color8;
       &.track-duration__current{
            margin-right: 4px;
            min-width: 30px;
        }
        &.track-duration__left{
            //margin-right: 16px;
            min-width: 30px;
        }
    }
    .rc-slider-handle{
        background: $color2;
        border: none;
        height: 12px;
        width: 12px;
        margin-left: -3px;
        &:hover{
            background: $color2;
            box-shadow: none;
        }
        &:focus,
        &:active{
            box-shadow: none;
            outline: none;
        }
    }
    .rc-slider-track{
        height: 3px;
        background-color: $color2;
        border-radius: 0;
        &:focus,
        &:active{
            box-shadow: none;
            outline: none;
        }
    }
    .rc-slider-step{
        height: 3px;
    }
    .rc-slider-rail{
        background-color: $color5;
        height: 3px;
    }
}

.track-duration{
    line-height: 65px;
    color: $color8;
   &.track-duration__current{
        margin-right: 4px;
        width: 50px;
    }
    &.track-duration__left{
        width: 50px;
    }
}

.track-current{
   flex: 1 0 auto;
   position: relative;
   .track{
        &__info{
            flex: 0 0 146px;
            max-width: 146px;
            min-width: 146px;
            margin-bottom: 0;
        }
        &__img{
            margin-right: 11px;
            cursor: auto;
        }
        &__name{
            margin-right: 20px;
        }
   }
}

.player-dropup{
    .dropdown-menu{
        margin-bottom: 0;
    }
}

.dropdown-menu {
    padding: 0;
    width: 120px;
    min-width: 120px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    &:before{
        content: none;
    }
    .dropdown-item{
        cursor: pointer;
        padding: 5px;
        text-align: center;
        &.selected{
            background-color: #ffcc00;
        }
        .dropdown-item__text{
            display: inline-block;
            padding: 0 3px;
        }
    }
}
.track-volume-panel{
    position: relative;
    width: 25px;
}
.track-volume{
    cursor: pointer;
    .btn-volume {
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 40px;
    }

    &:hover{
        .rc-slider-vertical{
              display:block;
        }
    }
    &.track-volume__active{
          .rc-slider-vertical{
              display:block;
        }
        .btn-volume{
            svg{
                g{
                fill:#e8e8e8;
                }
            }
        }
    }
  .rc-slider-vertical{
    display:none;
    bottom: 44px;
    left: 4px;
    height: 100px;
    width: 22px;
    padding: 0 11px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -11px;
      right: -5px;
      left: -5px;
      bottom: -43px;
      background-color: $color26;
      border-bottom: none;
      z-index: 1;
      border-radius: 3px;
    }
    .rc-slider-rail{
      height: 100%;
      left: 50%;
      margin-left: -2px;
      width: 4px;
      z-index: 2;
      background: $color27;
    }
    .rc-slider-track{
      left: 50%;
      margin-left: -2px;
      width: 4px;
      z-index: 3;
      border-radius: 3px
    }
    .rc-slider-handle{
      z-index: 4;
      height: 10px;
      width: 10px;
      margin-left: -5px;
    }
  }

  &.track-volume__active{
    .btn-volume{
        width: 30px;
        height: 40px;
        justify-content: center;
        align-items: center;
        *{
            fill:$color23;
        }
    }
  }
}

.player__btn-actions-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 auto;
  .btn-action{
    margin-right: 20px;
    padding: 5px 10px;
    border: 2px solid $color2;
    background: $color2;
    font-size: 14px;
    font-weight: 600;
    color: #40403b;
    letter-spacing: 0.3px;
    font-family: 'Open Sans', sans-serif;
    &:hover{
        background: #f0c000;
        border-color: #f0c000;
    }
  }
  .btn-download{
    margin-right:0px;
    svg{
        path{
            transition: 0.3s;
        }
    }
    &:hover {
        svg {
            path {
                fill: #00838f;
                transition: 0.3s;
            }
        }
    }
  }
  .btn-like{
    margin-right:17px;
  }
  &.player__btn-actions-container_reverse{
      .btn-download{
          margin-right:0;
      }
      .btn-like{
          margin-right:17px;
      }
  }
}
.btn-download{
    display: flex;
    padding:0;
  background-color: transparent;
}

.dropdown-menu {
    border-radius: 5px !important; 
}