.author-panel{
    width: 160px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 18px 5px 25px;
    border-radius: 4px;
    text-align: center;
    background: $color14;
    border: 1px solid $color23;
    z-index: 999;
    -webkit-box-shadow: 1px 1px 2px 1px #9E9E9E;
    -moz-box-shadow: 1px 1px 2px 1px #9E9E9E;
    box-shadow: 1px 1px 2px 1px #9E9E9E;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    &:before{
        content:'';
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -5px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $color14 transparent;
        z-index: 2;
    }
     &:after{
        content:'';
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -5px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $color23 transparent;
    }
    .author-panel__image{
        margin-bottom: 15px;
        width: 74px;
        height: 74px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .author-panel__name{
        margin-bottom: 3px;
        font-size: 16px;
        color: $color15;
        max-width: 100%;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .author-panel__description{
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: $color8;
        p{
          margin-bottom: 0;
        }
    }
    .author-panel__count{
        display: flex;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        color: $color15;
    }
}

.track .author-panel {
  // transform: translateX(-40%);
}

.author-panel_visible{
  pointer-events: auto;  
  opacity: 1;
  z-index: 10;
  transition: opacity .3s;
  
}

.author-panel_follower {
  transform: translateX(-35%);
}
.followings-item__hack {
  .author-panel {
    transform: translateX(-35%)
  }
}

.music-icon{
    display: block;
    width: 18px;
    height: 19px;
    background: url('../assets/img/music-icon.png') no-repeat;
    background-size: contain;
    &__indent-right{
        margin-right: 8px;
    }
}

.author-panel__area-target{
  display: block;
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 50px;
}

.author-page {
  .track__name{
    font-size: 16px;
    color: #606060;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 2px;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    text-transform: capitalize;
    max-width: 120px;
    min-width: 100px;
  }
}

.author-panel__disabled {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  height: 280px;
  background-image: url('../assets/img/blurred-tracks-img.png');
  background-size: cover;
  background-position: 50% 50%;
  .author-panel__disabled-bg {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 530px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .author-panel__disabled-header {
    font-size: 25px;
    text-align: center;
    color: $color15;
    margin-bottom: 6px;
    position: relative;
  }
  .author-panel__disabled-header--upload {
    &::before {
      content: '';
      width: 34px;
      height: 40px;
      position: absolute;
      background-image: url('../assets/img/track-icon.png');
      top: -45px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .author-panel__disabled-header--following {
    &::before {
      content: '';
      width: 38px;
      height: 38px;
      position: absolute;
      background-image: url('../assets/img/follow-icon.png');
      top: -45px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .author-panel__disabled-header--favourites {
    &::before {
      content: '';
      width: 44px;
      height: 39px;
      position: absolute;
      background-image: url('../assets/img/like-icon.png');
      top: -45px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .author-panel__disabled-header--downloads {
    &::before {
      content: '';
      width: 27px;
      height: 40px;
      position: absolute;
      background-image: url('../assets/img/download-icon.png');
      top: -45px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .author-panel__disabled-subheader {
    font-size: 14px;
    text-align: center;
    color: $color11;
    text-decoration: none;
  }
}

