.author-card{
  border: 1px solid #f2f2f2;
  margin-top: 8px;
  padding: 53px 25px;
  border-radius: 5px;
  .author-card__avatar{
    max-width: 110px;
    margin: 0 auto;
    max-height: 110px;
    width: 110px;
    height: 110px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .author-card__title-primary{
    color: $color1;
    font-size: 25px;
    margin-bottom: 6px;
    display: block;
    text-decoration: none;
    max-width: 100%;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .author-card__title-secondary{
    font-size: 14px;
    color: $color3;
    margin-bottom: 36px;
  }
  .achivments-list {
    flex-direction: row;
    margin-bottom: 54px;
    padding: 0 24px;
    .achivments-list__item{
      flex: 0 0 25%;
      margin-bottom: 16px;
    }
  }
  .btn-action{
    padding: 9px 16px;
    min-width: 164px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
