.author-tracks{
  padding: 63px 0 24px;
  .title_primary{
    margin-bottom: 34px;
  }
  .track-list {
    margin: 0 0 34px;
  }
  .track__name{
    font-size: 14px;
    color: $color11;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 2px;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    max-height: 18px;
    overflow: hidden;
    margin-right: 45px;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    text-transform: capitalize;
    max-width: 120px;
    min-width: 100px;
  }
}

.author-info {
  margin-left: 15px;
  font-size: 14px;
  color: $color11;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-decoration: none;
  div {
    padding: 5px 0;
  }  
}
.author-info__delete {
  color: #990500;
  cursor: pointer;
}

input[type="file"]:hover{
  border: 0;
}
