.biography{
  position: relative;
  .header__primary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .btn_biography-edit{

  }
  .biography__edit-area{
    width: 100%;
    resize: none;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .4px;
    outline: none;
    height: 300px;
  }
  .biography__text{
    max-height: 137px;
    overflow: hidden;
  }
  .biography__text_expanded{
    max-height:100%;
  }
  .btn-link{
    transition: 0.3s ease-out;
    &:after{
      transition: 0.3s ease-out;
    }
  }
  .btn-link_hide{
    &:after{
      transform: rotate(180deg);
    }
  }
}
