.breadcrumb{
  display: none;
  text-align: left;
  background-color: transparent;
  padding:24px 0 21px;
  margin-bottom: 0;
  border-bottom: 0;
    border-bottom: 1px solid $color5;
  li{
    color: $color3;
    font-size: 14px;
    a{
      color: $color3;
      font-size: 14px;
      text-decoration: none;
    }
  }
  li.active{
    color: $color3;
    font-size: 14px;
  }
  li+li:before{
    content: ">";
    color: $color3;
    padding: 0 3px 0 5px;
  }
}

