.buy-track__selected {
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px solid $color5;
  display: flex;
  margin-bottom: 30px;
}

.buy-track__selected-image {
  box-sizing: border-box;
  border: 1px solid $color3;
  margin-right: 20px;
  background-repeat: no-repeat;
  width: 61px;
  min-width: 61px;
  height: 61px;
  border: none;
  margin-right: 18px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buy-track__selected-track {
  font-size: 14px;
  color: $color11;
}

.buy-track__selected-artist {
  color: $color3;
  font-size: 13px;
}

.buy-track__selected-extension, .buy-track__license-description {
  color: $color3;
  font-size: 12px;
}

.buy-track__license {
  padding: 0 20px;
}

.buy-track__license-price {
  color: $color15;
}

.buy-track__license-description {
  margin-bottom: 30px;
  padding-left: 35px;
  font-size: 14px;
  color: #606060;
}

.buy-track__selected-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}