.cart-list{
    .cart-list-item{
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid $color5;
        &:first-of-type{
            padding-top: 0;
        }
        .track__info{
            align-self: center;
        }
    }
    .cart-list-item__track{
        width: 250px;
        overflow: hidden;
        margin-right: 48px;
    }
    .cart-list-item__counter{
        margin-right: 32px;
    }
    .cart-list-item__type{
        width: 190px;
        margin-right: 15px;
    }
    .cart-list-item__help{
        margin-right: 42px;
        display: flex;
        align-items: center;
        .helper{
            margin: 0;
        }
    }
    .cart-list-item__price{
        font-size: 18px;
        color: $color15;
    }
    .cart-list-item__remove{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .react-selectize.root-node.default.react-default-template .react-selectize-control .simple-value span{
        padding-top: 3px;
    }
}