.cart-summary{
    padding: 38px 20px 36px;
     border: 1px solid $color5;
    .cart-summary__header{
        margin-bottom: 56px;
        color: $color6;
        font-size: 22px;
        line-height: 1;
    }
    .cart-summary__value{
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color6;
        font-size: 42px;
    }
     .cart-summary__remark{
        font-size: 14px;
        line-height: 22px;
        color:$color3;
     }
    .cart-summary__info{
        margin-bottom: 58px;
    }
    .cart-summary__action{
        margin-bottom: 20px;
    }
}

.page-locked{
  position: relative;
  &:before{
    content: 'Page is not available now';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    letter-spacing: -0.3px;
    line-height: 48px;
    color: #262626;
    background: rgba(255, 255, 255, 1);
  }
}
  

