.catalog{
  width: 100%;
  .catalog__header{
    position: fixed;
    top: 74px;
    left: 200px;
    right: 0;
    padding: 28px 30px 28px 30px;
    border-bottom: 1px solid $color5;
    border-left: 1px solid $color5;
    background: #fff;
    z-index: 5;
  }
  .catalog-filter-search{
    max-width: 500px;
  }
  .filter-limited-group{
    display: flex;
    justify-content: flex-end;
  }
  .catalog__header--filters {
    padding: 28px 20px 12px 30px;
  }
  .catalog__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__applied-filters {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .catalog__applied-filter {
    border: 1px solid $color3;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: $color11;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    span {
      font-size: 16px;
      font-weight: bold;
      padding-left: 10px;
    }
    &:hover {
      span {
        color: $color20;
      }
    }
  }
  .catalog__applied-title {
    font-size: 13px;
    color: $color3;
    padding: 0 20px;
    padding-top: 7px;
    white-space: nowrap;
    text-align: left;
  }
  .catalog__body{
    padding: 106px 0px 79px 200px;
    .btn.btn-download{
      &:hover{
        svg{
          path{
            fill: #00838f;
          }
        }
      }
    }
    [class*="row"]{
      margin: 0;
      justify-content: space-between;
      &:before{
        display: none;
      }
      &:after{
        display: none;
      }
    }
    [class*="col-"]{
      width: auto;
      padding: 0;
    }
  }
  .catalog__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .catalog__pop-up-filter{
    columns: 3;
  }
  .catalog__title{
    display: block;
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    text-align: left;
    margin-bottom: 25px;
  }
  .catalog__title_active{
    font-weight: 600;
    margin-bottom: 3px;
  }
  .catalog__sidebar{
    text-align: left;
    padding: 30px 21px 0;
    position: fixed;
    top: 74px;
    left: 0;
    bottom: 0;
    z-index: 6;
  }
  .radio-box .radio-box__note{
    font-size: 14px;
    font-weight: 400;
  }
  .form-group{
    margin-bottom: 20px;
  }
  .input_search-wrap{
    //margin: 0 49px 0 33px;
  }
  .catalog__title.btn-default{
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus{
    color: $color8;
    border: none;
    background-color: transparent;
  }
  .btn-group.open .dropdown-toggle{
    box-shadow: none;
  }
  .catalog__scroll{
    overflow: auto;
    max-height: 400px;
  }
  .dropdown-menu{
    width: 540px;
    max-width: 540px;
    max-height: 595px;
    margin: -37px 0 0 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #e9e8e8;
    box-shadow: 0 0 12px 1px #e9e8e8;
    &:before{
      content: '';
      position: absolute;
      top: 19px;
      left: -19px;
      margin-left: 1px;
      display: inline-block;
      border: 0;
      border-right: 8px solid #e9e8e8;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-top: 8px solid transparent;
    }
    &:after{
      content: '';
      position: absolute;
      top: 19px;
      left: -17px;
      margin-left: 1px;
      display: inline-block;
      border: 0;
      border-right: 8px solid #ffffff;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-top: 8px solid transparent;
    }
    &__versions{
      width: 47px;
      min-width: 47px;
      max-width: 47px;
      background: #ffffff;
      border: 1px solid #e9e8e8;
      box-shadow: 0 0 12px 1px #e9e8e8;
      .dropdown-item{
          background: $color14;
          display: block;
          .dropdown-item__text{
              flex:0 0 40%;
              text-align:right;
              &:nth-of-type(2){
                  flex: 1 0 auto;
                  text-align:left;
              }
          }
      }
      &:before{
        content:none;
      }
      &:after{
        content:none;
      }
    }
    .divider{
      margin: 0;
      margin-bottom: 21px;
    }
    .catalog__menu-item{
      display: inline-block;
      width: auto;
      padding: 4px 10px 4px 22px;
      color: $color8;
      font-size: 14px;
      cursor: pointer;
      font-weight:600;
      &:hover{
        color: #333;
        transition: font-weight 0.2s;
      }
      &.active {
        color: #333;
      }
    }
    .catalog__menu-item-group {
      margin-left: 12px;
      .catalog__menu-subitem{
        font-weight: 500;
        &.active {
          color: $color2;
        }
      }
    }
    .catalog__menu-item__count {
      font-size: 10px;
    }
    .catalog__menu-subitem {
      display: block;
    }
    .catalog__menu-item-count{
      font-size: 10px;
      margin-left: 8px;
      font-weight: 400;
    }
    .btn{
      float: none;
      margin: 30px 0 38px;
    }
    &.catalog__pop-up{
      margin-left: -84px;
      left: 192px;
      padding-bottom: 120px;
    }
  }
  .dropdown-header{
    padding: 20px 27px 15px;
    color: $color3;
    font-size: 12px;
  }

  .track__name{
    font-size: 16px;
    color: $color11;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 2px;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    text-transform: capitalize;
    max-width: 100%;
  }
  .track__author{
    font-size: 12px;
    max-width: 100%;
  }

  .track-list .track .track__info{
    width: 200px;
  }

  .catalog-options{
    margin-bottom: 60px;
  }

  .container{
    width: 100%;
    padding: 0;
  }

}
