.chart-dashboard{
    margin-bottom: 28px;
    border: 1px solid $color5;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 35px 20px 30px;
        border-bottom: 1px solid $color5;
    }
    &__header-inner-wrap{
        display: flex;
        align-items: center;
    }
    &-title-wrap{
        display: flex;
        align-items: center;
        margin-right: 32px;
    }
    &__content{
        padding: 7px 40px 35px;
    }
}

.chart-wrapper{
    margin-bottom: 21px;
}

.nav-filter{
  display: flex;
  align-items: center;
  .nav-filter-group{
      display: flex;
      align-items: center;
      margin-right: 14px;
  }
  .btn-filter{
      position: relative;
      border-top: 1px solid $color5;
      border-bottom: 1px solid $color5;
      transition: all 0.3s;
      &:first-child{
        border-left: 1px solid $color5;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right:none;
      }
      &:last-child{
        border-right: 1px solid $color5;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left:none;
      }
      &:hover{
          background: $color2;
          border-color: $color2;
          transition: all 0.3s;
      }
      
      &.btn-filter__active{
          background: $color2;
          border-color: $color2;
          transition: all 0.3s;
      }
  }
}

