.checkout {
  margin: 0 0 200px;
  padding-top: 60px;

  &__header {
    margin-bottom: 50px;
    text-align: left;

    .title_primary {
      color: $color3;
    }
  }

  .form-wrap {
    margin-bottom: 60px;
  }
}

.payment-methotd-menu .tabs-menu__item:last-child {
  padding-left: 5px;
}

.order-summary {
  padding: 38px 20px 36px;
  border: 1px solid #b6b6b6;

  &__header {
    text-align: left;
    margin-bottom: 36px;
    color: #262626;
    font-size: 22px;
    line-height: 1;
  }

  &-list {
    margin-bottom: 56px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        text-align: left;
        max-width: 70%;
        flex: 0 0 70%;
        font-size: 14px;
        line-height: 22px;
        color: #b6b6b6;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-value {
        max-width: 30%;
        flex: 0 0 30%;
        text-align: right;
        font-size: 14px;
        line-height: 22px;
        color: #b6b6b6;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.tunetank-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #909090;

  .tunetank-total__title {
    font-size: 14px;
    line-height: 22px;
  }

  .tunetank-total__value {
    font-size: 14px;
    line-height: 22px;
  }
}

.checkout-concluding {
  padding: 50px 40px 40px;
  background: #262626;

  &__value {
    margin-bottom: 35px;
    font-size: 36px;
    color: #ffffff;
  }
}
