//inputs
input, .form-control{
  box-shadow: none;
  &:hover,&:active,&:focus{
    outline: none;
    box-shadow: none;
  }
  &:active:focus, &:active:hover{
    outline: none;
    box-shadow: none;
  }
}

input[type="text"]{
  &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

.input-primary{
  height: 50px;
  color: $color1;
  font-size: 16px;
  font-weight: 100;
  background-color: #ffffff;
  border: 0;
  padding-left: 22px;
  border: 1px solid transparent;
  &:hover,&:focus{
    border: 1px solid transparent;
  }
  ::-webkit-input-placeholder {
    color:$color3;
    font-weight: 100;
  }
  ::-moz-placeholder{
    color:$color3;
    font-weight: 100;
  }
  :-moz-placeholder{
    color:$color3;
    font-weight: 100;
  }
  :-ms-input-placeholder{
    color:$color3;
    font-weight: 100;
  }
}
.input_search-wrap{
  position: relative;
  .react-autosuggest__suggestions-list{
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}
.input_search{
  padding-right: 55px;
}

.react-autosuggest__input{
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 50px;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 100;
  padding-left: 22px;
  padding-right: 55px;
  //&:hover,&:focus{
  //  border: 1px solid $color3;
  //}
  ::-webkit-input-placeholder {
    color:$color3;
    font-weight: 100;
  }
  ::-moz-placeholder{
    color:$color3;
    font-weight: 100;
  }
  :-moz-placeholder{
    color:$color3;
    font-weight: 100;
  }
  :-ms-input-placeholder{
    color:$color3;
    font-weight: 100;
  }
}

.input_search-wrap_bordered{
  .react-autosuggest__input{
    border: 1px solid #e8f0f2;
  }
  .react-autosuggest__suggestions-list{
    border: 1px solid #b6b6b6;
    border-top: 0;
    text-align: left;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.react-autosuggest__suggestions-container{
  display: block;
  .react-autosuggest__suggestions-list{
    display: block;
    .react-autosuggest__suggestion{
      display: block;
      border-radius: 0;
      border: none;
      cursor: pointer;
      &:hover,&:focus{
        border: none;
      }
      .input-primary{
        border-radius: 0;
        border: none;
        color: $color6;
        height: 40px;
        &:hover,&:focus{
          background: #f5f5f5;
          border: none;
        }
      }
    }
    .react-autosuggest__suggestion--highlighted{
      .input-primary{
        background: #f5f5f5;
      }
    }
  }

}
.react-autosuggest__container--open{
  .react-autosuggest__input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


//buttons
.btn-primary{
  background-color: $color2;
  border: none;
  color: $color6;
  font-weight: 600;
  font-size: 14px;
  padding: 7.5px 20px;
  letter-spacing: 0.3px;
  transition: 0.3s ease-out;
  height: 41px;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  &:hover,&:active{
    text-decoration: none;
    background: #f0c000;
    border-color: #f0c000;
    border: none;
    color: $color6;
  }
  &:active, &:active:hover{
    text-decoration: none;
    background: #f0c000;
    border-color: #f0c000;
    border: none;
    color: $color6;
  }
  &:focus{
    background: #f0c000;
    border-color: #f0c000;
    box-shadow: none;
    color: $color6;
  }
  &.btn-primary__apply{
    padding: 7.5px 27px;
    letter-spacing: -.25px;
    line-height: 17px;
    font-weight: 400;
  }
  &.btn-primary__choose{
    padding: 7px 33px;
    letter-spacing: -0.25px;
    line-height: 17px;
    font-weight: 400;
    &:hover{
      background-color: #ffcc00;
      box-shadow: none;
    }
  }
  &.btn-primary__submit{
    min-width: 170px;
    display: inline-block;
    &.btn-primary__submit-top-indent{
      margin-top: 26px;
    }
  }
  &.btn-primary__block{
    display: block;
    width:100%;
  }
  &__small{
    font-weight: 400;
    font-size: 14px;
    padding: 0 11px;
    height: 30px;
  }
  &__big{
    padding: 7.5px 30px;
    font-size: 18px;
    letter-spacing: 0;
  }
  &__form-submit{
    min-width: 130px;
    display: inline-block;
  }
  &.btn-primary_role_start{
        padding: 11px 50px;
    font-size: 14px;
  }
  &.btn-primary__big{
    font-size: 18px;
    border-radius: 4px;
  }
}
.btn-link{
  &:focus, &:hover, &:active{
    outline:none;
    box-shadow: none;
    text-decoration: none;
  }
  &.btn-link__more{
    padding: 0;
    color: $color8;
    font-size: 14px;
    line-height: 22px;
    &-with-arrow{
         &:after{
          content: '';
          position: relative;
          display: inline-block;
          top: 0;
          margin-left: 10px;
          border: 1px solid transparent;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 7px solid #fc0;
          transition: .3s ease-out;
        }
    }
  }
  &.btn-link__grey{

  }
}

.buttons-group-wrap{
  margin-bottom: 45px;
}
button{
  outline: none;
}
.btn{
  transition: 0.3s ease-out;
  outline: none;
  &:hover,&:active,&:focus{
    outline: none;
    transition: 0.3s ease-out;
  }

  &:active:focus, &:active:hover{
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }
  &.btn-width-206{
    max-width: 206px;
    width: 100%;
  }
  &.btn-remote{
    margin-top: 30px;
  }
  &.btn-volume{
    @extend .flexbox;
    padding: 0;
    background: transparent;
    position: relative;
    z-index: 2;
    svg{
      g{
        fill:#40403B;
      }
    }
    &:hover{
      svg{
        g{
          fill:#e8e8e8;
        }
      }
    }
  }
  &.btn-sign-out{
    width: 100%;
    padding: 4px;
    background: $color23;
    font-size: 14px;
    font-weight: 600;
    color: $color26;
    transition: 0.4s;
    &:hover{
       transition: 0.4s;
      background: #aaaaaa;
    }
  }
}

.btn__add{
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  border: transparent;
  background: url('../assets/img/plus-icon.png') no-repeat transparent;
  &:hover,&:active,&:focus{
    outline: none;
  }
}

.btn__remove{
    display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  border: transparent;
  background: url('../assets/img/minus-icon.png') no-repeat transparent;
  background-position-y: 50%;
  background-size: contain;
  &:hover,&:active,&:focus{
    outline: none;
  }
}

.cart-btn{
  svg{
    g{
      transition: 0.1s;
    }
  }
  &:hover{
    svg{
      g{
        transition: 0.1s;
        stroke:#ffcc00;
      }
    }
  } 
}

.btn-like-wrap{
  margin: 7px 12px 0 0;
}
.btn-like {
  display: block;
  width: 24px;
  height: 24px;
  padding:0;
  background: transparent;
  outline: none;
  border-color: transparent;
  &.btn-like__active{
    display: block;
    width: 24px;
    height: 24px;
    padding:0;
    background: transparent;
    border-color: transparent;
    &:hover {
      outline: none;
      border-color: transparent;
    }
  }

  &:hover,&:active,&:focus{
    outline: none;
    border-color: transparent;
  }
}

.btn-edit{
  color: $color8;
  font-size: 16px;
  border:none;
  background: none;
  &__left-gap{
    margin: 0 0 0 27px;
  }
}

.btn-remove{
  width: 11px;
  height: 11px;
  background: url('../assets/img/remove-icon-red.png') no-repeat;
  cursor:pointer;
  border:none;
  &__left-gap{
    margin: 0 0 0 22px;
  }
}

.btn-primary-wrap{
  margin-right: 46px;
}

.file-upload{
  position: relative;
  overflow: hidden;
  height: 41px;
  width: 150px;

  button {
    height: 100%;
  }

  ::-webkit-file-upload-button {
    cursor: pointer;
  }

  input[type=file]{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;



    &:hover{
      + button.btn-primary{
        background-color: #f3c200;
        border: none;
        color: $color6;
        box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }

}



.btn-secondary{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  padding: 7.5px 20px;
  letter-spacing: 0.3px;
  transition: 0.3s ease-out;
  background: transparent;
  color: $color14;
  border: 1px solid $color14;
   border-radius: 4px;
  transition: 0.3s ease-out;
  height: 41px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary__form-submit{
  position: relative;
  .btn-primary__text{

  }
  .fa-spinner{
    left: 40%;
    transition: 1s ease all;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 50%;
    font-size: 50px;
    margin-top: -16px;
    opacity: 0;
    pointer-events: none;
  }
}
.btn-primary__form-submit_spinner{
  transition: 0.3s ease all;
  .btn-primary__text{
    display: inline-block;
    position: relative;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    transition: 0.5s ease all;
    opacity: 0;
  }
  .fa-spinner{
    animation: spinner-appear 0.5s ease forwards,fa-spin 2s infinite linear;
  }
}

@keyframes spinner-appear {
  0% {
    font-size: 40px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
    font-size: 24px;
  }
}

.btn-primary[disabled]{
  &:hover, &:focus{
    background-color: $color2;
    box-shadow: none;
  }
}
.btn_search{
  position: absolute;
  top: 0;
  right: 8px;
  bottom:1px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: $color2;
  outline: none;
  display: flex;
  align-items: center;
  &:hover,&:active,&:focus{
    color: $color2;
    outline: none;
    box-shadow: none;
  }
  &:active:focus, &:active:hover{
    color: $color2;
    outline: none;
    box-shadow: none;
  }
}
.btn_angle{
  font-size: 14px;
  color: $color6;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  padding: 6px 15px 6px 10px;
  border: 0;
  &:after{
    content: '';
    position: relative;
    display: inline-block;
    top: 0;
    margin-left: 10px;
    border: 1px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid $color2;
    transition: 0.3s ease-out;
  }
  &:hover,&:active,&:focus{
    background-color: transparent;
    border: 0;
    color: $color6;
    box-shadow: none;
  }
  &:active:focus, &:active:hover{
    background-color: transparent;
    color: $color6;
    box-shadow: none;
  }
}

.btn_angle.link-color{
  &:hover{
    &:after{
      border: 1px solid transparent;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid #fff;
    }
  }
}
.btn_light{
  border: 2px solid #ffffff;
  font-size: 14px;
  color: $color6;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  padding: 9px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  &:hover,&:active,&:focus{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: $color6;
  }
  &:active:focus, &:active:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: $color6;
  }
}
.btn_line{
  font-size: 16px;
  color: $color6;
  position: relative;
  text-transform: none;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  border: 1px solid $color7;
  padding: 10px 12px;
  transition: 0.3s ease-out;
  background-color: transparent;
  &:hover,&:active,&:focus{
    background-color: $color2;
    border: 1px solid $color2;
    color: $color6;
  }
  &:active:focus, &:active:hover{
    background-color: $color2;
    border: 1px solid $color2;
    color: $color6;
  }
  &.btn_role_contact{
    &[disabled]{
      &:hover,&:active,&:focus{
        color: #ffffff;
        background-color: transparent;
      }
    }
    &:hover,&:active,&:focus{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: $color6;
  }
    &:active:focus, &:active:hover{
      background-color: #ffffff;
      border: 1px solid #ffffff;
      color: $color6;
    }
  }
}
.btn-success{
  background-color: $color9;
  border: 2px solid $color9;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 7.5px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-width: 170px;
  transition: 0.2s ease-out;
  &:hover,&:active,&:focus{
    background-color: $color9;
    border: 2px solid $color9;
    color: #fff;
  }
  &:active:focus, &:active:hover{
    background-color: $color9;
    border: 2px solid $color9;
    color: #fff;
  }
}
.btn_social{
  font-size: 34px;
  color: $color8;
  padding: 0;
  border: 0;
  margin: 0;
  transition: 0.3s ease-out;
  &:hover{
    color: $color2;
  }
}

.btn-action{
  padding: 5px 16px;
  background: $color14;
  font-size: 14px;
  color: $color15;
  border: 1px solid $color2;
  &.btn-action__small{
    padding: 2px 7px;
    margin-right: 12px;
  }
  &.btn-action__color-grey{
    color: $color3;
  }
  &:focus:active{
    border-color: $color2;
  }
  &.btn-action__role-follow{
    padding: 3px 28px;
  }
  &:hover{
    background:$color2;
    background-color:$color2;
  }
}

.btn_simple{
  font-size: 16px;
  color: $color7;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-out;
  padding: 0 5px;
  letter-spacing: 0.5px;
  &:hover,&:active,&:focus{
    color: $color2;
    background-color: transparent;
    border: none;
  }
  &:active:focus, &:active:hover{
    color: $color2;
    background-color: transparent;
    border: none;
  }

}

.link-color{
  border-radius: 4px;
  transition: 0.3s ease-out;
  &:hover{
    background-color: $color2;
    color: $color1;
  }
}


.nav-tabs{
  text-align: center;
  border: none;
  background-color: $color10;
  padding: 7px 60px;
  transition: 0.2s ease-out;
  position: relative;
  opacity: 1;
  li{
    float: none;
    display: inline-block;
    a{
      font-size: 16px;
      color: $color3;
      border: none;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 300;
      transition: 0.3s ease-out;
      &:hover,&:focus{
        background-color: transparent;
        border: none;
        color: $color2;
        outline: none;
        text-decoration: none;
      }
    }
  }
  li.active{
    a{
      background-color: transparent;
      border: none;
      color: $color2;
      &:hover,&:focus{
        background-color: transparent;
        border: none;
        color: $color2;
        outline: none;
      }
    }
  }

}
.nav-tabs__wrap{
  background-color: $color10;
}
.tab-content{
  margin-top: 72px;
}

.sort-panel{
  &.sort-panel__indent{
    margin: 0px 33px 2px 0px;
  }
  &.sort-panel__indent-bottom{
      margin-bottom: 22px;
  }
  .sort-panel__title{
    display: block;
    margin: 0 23px 0 0;
    color: $color3;
    font-size: 14px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__nowrap{
          white-space: nowrap;
    }
  }
  .react-selectize.root-node.default.react-default-template{
        min-width:200px;
  }
  .react-selectize-control{
        border: 1px solid #e8f0f2;

  }
}


//slider
.slick-slider{
  z-index: 10;
  position: relative;
}
.slick-list{
  overflow: visible;
}
.slick-dots{
  margin: 0;
  padding: 10px 0;
  li{
    display: inline-block;
    padding: 5px;
    button{
      font-size: 1px;
      background-color: $color3;
      outline: none;
      border-radius: 100%;
      padding: 0;
      width: 10px;
      height: 10px;
      border: 0;
    }
  }
  li.slick-active{
    button{
      background-color: $color5;
    }
  }
}

//dropdowns
.dropdown-menu{
  display: none;
  position: absolute;
  left:auto;
  background-color: #e8f0f2;
  width: 160px;
  text-align: left;
  padding: 18px 10px 8px 22px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  z-index: 10;
  &:before{
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: 1px;
    display: inline-block;
    border: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #e8f0f2;
  }
  .dropdown-menu__item{
    display: block;
    font-size: 14px;
    color: $color8;
    margin-bottom: 11px;
    &:hover{
      color: $color6;
    }
  }
}
.open>.btn-default.dropdown-toggle.dropdown-options {
    color: $color15;
    box-shadow: none;
    border-color: transparent;
   &.dropdown-download{
      border: 1px solid $color2;
      color: $color15;
     &:hover, &:focus, &:active{
      color: $color15;
      box-shadow: none ;
    }
   }
   &.dropdown-menu__icon{
    display: block;
    width: 5px;
    height:31px;
    background: url('../assets/img/dropdown-dots-icon.png') no-repeat;
    background-size: 5px;
    background-position-y: 50%;
    background-position-x: 50%;
    padding: 10px;
     &.dropdown-menu__icon-dark{
       background-image: url('../assets/img/options-dots-icon-dark.svg');
     }
     &.dropdown-menu__icon-medium{
       background-image: url('../assets/img/options-dots-icon-medium.svg');
     }
     &.dropdown-menu__icon-light{
       background-image: url('../assets/img/options-dots-icon-light.svg');
     }
   }
}

.dropdown-options{
  border:none;
  background: none;
  box-shadow: none;
  color: $color15 ;
  &:hover, &:focus, &:active{
      color: $color15;
      border: none;
      background-color:transparent;
      box-shadow: none;

    }
   &.dropdown-menu__icon{
    display: block;
    width: 5px;
    height:31px;
    border:none;
    background: url('../assets/img/dropdown-dots-icon.png') no-repeat;
    background-size: 5px;
    background-position-y: 50%;
    background-position-x: 50%;
    border: none;
    padding: 10px;
    &.dropdown-menu__icon-dark{
      background-image: url('../assets/img/options-dots-icon-dark.svg');
    }
    &.dropdown-menu__icon-medium{
      background-image: url('../assets/img/options-dots-icon-medium.svg');
    }
    &.dropdown-menu__icon-light{
      background-image: url('../assets/img/options-dots-icon-light.svg');
    }
  }
  &.dropdown-download{
    padding: 5px 18px;
    border: 1px solid $color2;
    color: $color15;
    &:hover, &:focus, &:active, &:focus:active{
      color: $color15;
      border: 1px solid $color2 ;
      background: #f0c000;
      border-color:#f0c000;
      box-shadow: none ;
      color: $color15 ;
    }
    & ~ .dropdown-menu{
      padding: 8px 15px 7px;
      li{
        a{
          font-size: 12px;
          line-height: 18px;
          color: #606060;
        }
      }
      &:before{
        content: '';
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -8px;
        display: inline-block;
        border: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #e9e8e8;
        z-index: -1;
      }
    }
  }
  &.dropdown-helper{
    padding: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 12px; 
    color: #ffffff !important;
    &:hover,
    &:focus,
    &:active{
      color: #ffffff;
    }
    & ~ .dropdown-menu > li > a{
      white-space: normal;
      line-height: 1.3;
      &:hover{
        color: #606060;
        cursor: default;
      }
    }
  }
  .caret{
      display: none;
    }

  & ~ .dropdown-menu{
      width: 170px;
      margin: 10px 0 0 0;
      padding: 8px 22px;
      background: $color14;
      border: 1px solid $color5;
      left: 50%;
      margin-left: -84px;
      box-shadow: 0 0 1px 1px #e9e8e8;
      li{
        a{
          padding: 3px;
          font-size: 14px;
          line-height: 30px;
          color: $color8;
          &:hover{
            background: none;
            color: $color15;
          }
          &:focus,
          &:active{
            outline:none;
            background: $color14;
          }
        }
      }
      &:before{
        top:-9px;
        margin-left: -8px;
      }
      &:after{
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -8px;
        display: inline-block;
        border: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid $color14;
      }
  }

}



.user-options{
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  .btn-group{
   display: block;
   height: 100%;
  }
  .dropdown{

  }
  .dropdown-options{
    &.dropdown-options__icon-plus{
      background: transparent !important;
      border: none;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      right: -15px;
      color: #fc0 !important;
      line-height: 1;
      transition: 0.3 !important;
      &:before{
        content:'+';
        line-height: 1;
      }
      &:hover{
        transform: rotate(180deg);
        transition: 0.3s !important; 
      }
    }
  }
  .dropdown-menu{
    width: 164px;
    margin-top: 43px;
    padding: 8px 0 0;
    right: -87px;
    left: inherit;
    border:none;
    border-radius: 5px;
    li{
      transition: 0.3s;
      & > a{
        position:relative;
         padding: 0 12px 0 16px;
         &:before{
           content: '';
           width: 5px;
           position: absolute;
           left: 0;
           top: 0;
           bottom: 0;
           background: transparent;
         }
      }
      a{
        font-size: 16px;
        line-height: 35px;
        font-size: 14px;
        line-height: 2;
        color: $color11;
        &:hover{
            text-decoration: none
        }
      }
      &:last-of-type{
        a{
          padding: 12px;
         font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
        }
      }
      &:not(:last-of-type):hover{
        background-color: $color28;
        transition: 0.3s;
         a{
            &:before{
              background: $color29;
            }
         }
      }
    }
    .dropdown-menu__separator{
        margin-bottom: 6px;
        padding: 0 0 5px 0;
        border-bottom: 1px solid $color2;
        &.dropdown-menu__separator_nomargin{
           margin-bottom: 0;
        }
    }
    &:before,
    &:after{
      left: inherit;
      right: 71px;

    }
    &:before{
      border-bottom-color: $color5;
      content: '';
    }
  }

}

.dropdown-options__overlay{
  position: absolute;
  background-color: #8e0b0b;
  top: 0;
  right: -15px;
  left: -18px;
  bottom: -40px;
}

.dropdown-menu_visible{
  display: block;
}

.radio-box-wrap{
 display: inline-block;
  &.radio-box-wrap__indent{
        margin-right: 6px;
  }
}
.radio-box{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  &__nogap{
    margin: 0;
  }

  .radio-box__note{
    font-size: 16px;
    color: $color8;
    font-weight: 600;
    &.radio-box__note_light{
      color: $color8;
    }
    &.control-label{
      margin-bottom: 0;
      cursor: pointer;
    }
  }
  input[type="checkbox"],
  input[type="radio"]{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      cursor:pointer;
    &:checked + .radio-box__pseudo-radio{
      &:before{
        content: "\f111";
        display: inline-block;
        font: normal normal normal 8px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 8px;
      }
    }
  }
  .radio-box__pseudo-radio{
      &.control-label{
          margin-right: 17px;
          margin-bottom: 0;
      }
      &:before{
        content: "\e013";
        display: none;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        color: #990500;
        font-size: 11px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      min-height: 16px;
      border-radius: 50%;
      border: 1px solid $color3;
      padding: 0;
      color: $color8;
      font-size: 16px;
  }
  &.radio-box__square{
    .radio-box__pseudo-radio{
      border-radius: 0;
      &:before{
        content: "\e013" !important;
        display: none;
        font-family: 'Glyphicons Halflings' !important;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        color: #990500;
        font-size: 11px;
        border-radius: 0;
      }
    }
  }
}

.link{
  &:focus,
  &:active{
    outline: none;
  }

}

.link-conditionals{
  color: $color3;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  &:hover{
    color: $color3;
  }
}
.link-dark{
  color: #b7b7b7;
  font-weight: 600;
  &:hover{
    color: #b7b7b7;
    text-decoration: none;
  }
}
.link-away{
  color: $color2;
  &:hover{
    color: $color2;
  }
}

.action-link{
  color: $color6;
  &:hover{
    color: $color6;
  }
  &__bold{
    font-weight: 600;
  }

  &__view-all{
    font-size: 16px;
    line-height: 22px;
    color: $color3;
    &:hover{
      color: $color3;
    }
  }
  &__underlined{
    text-decoration: underline;
  }
}
.btn-filter{
  padding: 4px 13px;
  font-size: 14px;
  line-height: 22px;
  background: $color17;
  color: $color6;
  border-radius: 0;

}

.btn-circle{
  position: relative;
  width:13px;
  height: 13px;
  padding: 0;
  border-radius:50%;
  border: none;
  border-color:transparent;
  background:transparent;
  &:before{
    content:'';
    position: absolute;
    display: block;
    height: 1px;
    top: 50%;
    left: 3px;
    right: 3px;
    background: $color18;
  }
  &:after{
    content:'';
    display: block;
    width: 1px;
    position: absolute;
    left: 6px;
    top: 3px;
    bottom: 3px;
    background: $color18;
  }
  &__plus{
    background: $color19;
  }
  &__minus{
    &:after{
      content:none;
    }
    background:$color20;
  }
}

.btn-play-track{
  background-color: transparent;
  margin-right: 37px;
  padding: 0;
  width: 34px;
  min-width: 34px;
}

.track-control-box{
  display: flex;
  align-items: center;
}
.btn-track-control{
  display: flex;
  align-items: center;
  padding: 0;
  background-size: contain;
  background:transparent;
  &:hover{
    background:transparent;
    path{
      &:last-child{
        fill:#aaaaaa;
      }
    }
  }
  &.btn-track-control__prev{
    margin-right: 15px;
  }
  &.btn-track-control__play{
    height: 40px;
    width:30px;
    margin-right: 10px;
    &:hover{
      g{
        fill:#aaaaaa;
      }
    }
  }

}

.btn_version__true {
  outline: none;
  box-shadow: none;
  color: #909090 !important;
  background: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
}

.btn_version{
  height: 30px;
  width: 89px;
  min-width: 89px;
  max-width: 89px;
  padding: 4px 16px;
  font-size: 14px;
  background: #fafafa;
  border-color: #909090;
  color: #909090;
  border-radius: 3px !important;
  &:hover{
    outline: none;
    box-shadow: none;
    color: #909090;
    background: #e8e8e8;
    border-color: #e8e8e8;
  }
  &.btn_version__short{
    width: 46px;
    min-width: 46px;
    max-width: 46px;
    padding: 4px 0 5px;
    margin-right: 10px;
    svg{
      *{
      fill:#909090;
      }
    }
    &.btn_version__short_active{
       svg{
          *{
          fill:#40403b;
          }
        }
    }
  }
}

.versions__time{
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

.versions-circle {
  cursor: pointer;
  width: 27px;
  height: 27px;
  flex: 0 0 27px;
  background-color: #ffffff;
  border: 1px solid #909090;
  border-radius: 50%;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background-color: #7a7a76 !important;
    border-color: #7a7a76 !important;
    .versions-circle__text{
      color: #ffffff !important;
    }
  
  }
  .versions-circle__text{
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    color: #909090;
    line-height: 25px;
  }
}



.btn__sign-up{
  padding: 3px 9px 4px;
    font-size: 14px;
    color: $color2;
      border-radius: 4px;
  border: solid 1px $color2;
  background: $color1;
  &:hover{
    color:$color26;
    background: $color2;
  }
}

.catalog{
  .btn-toolbar{
    margin-bottom: 20px;
    button{
      font-family: "Open Sans", sans-serif;
    }
  }
}

.catalog__body .tooltip_versions__list {
  left: -51%;
  bottom: 120%;
}

.tooltip_versions{
  position: absolute;
  color: #ffffff;
  bottom: 105%;
  font-size: 12px;
  font-weight: 300;
  display: none;
  transition: 0.3s ease-in-out;
  z-index: 105;
  left: 66.3%;
  display: block;
  width: 150px;
  padding: 10px 2px 10px 6px;
  background-color: rgba(64, 64, 59, 0.9);
  &__list{
    left: -44%;
    bottom: 120%;
  }
  .tooltip_versions__title{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 20px;
  }
  .tooltip_versions__text{
    min-width: 68px;
    white-space: normal;
    width: auto;
    max-width: 100%;
    display: inline-block;
    word-break: break-word;
    padding: 2px 12px;
    border-radius: 3px;
    position: relative;
    font-size: 12px;
    color: #ffffff;
  }
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 80%;
    background-color: transparent;
    border: 0;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(64, 64, 59, 0.9);
    border-left: 8px solid transparent;
    cursor: default!important;
    transform: translateX(-50%);
  }
}


.link-inside-link{
  padding: 0 !important;
}