@import 'base';
@import '~normalize.css/normalize';
@import '~toastr/build/toastr.min.css';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1280px;
}
ul,ol{
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*{
  //word-break: break-all;
}

.core-layout__viewport{
  min-height: calc(100vh - 440px);
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.container_player{
  padding: 0 ;
}

.top-offset{
  padding-top: 74px;
  min-height: calc(100vh - 366px);
}

.content-without-menu{
  padding: 24px 0 0 0;
}

.wrapper-fluid{
  width: 100%;
}

.user-options .dropdown-menu .menu-item__hack li a {
  display: block;
}

.dropdown-menu {
  background: #fff;
  border: solid 1px #e8f0f2;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 10;
}
.hotfixforsergey {
  margin-top: 37px !important;    
  &:before {
    border-bottom-color: #fff !important;
  }
}
.dropdown-menu li a {
  outline: 0;
  text-decoration: none;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
  z-index: 1000;
}

.track_draft {
  border: 1px solid #b6b6b6;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #606060;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none
}

.modal-backdrop {
  background: rgba(0,0,0,.7) !important;
}

.modal{
  z-index: 99999999;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: transparent;
}