.counter{
    display: flex;
    align-items: center;
    .counter-add{
        
    }
    .counter-remove{
        margin-right: 20px;
    }
    .counter-current-value{
        margin-right: 20px;
    }
    .counter-field{
        width: 58px;
        height: 31px;
        font-size: 14px;
        color: $color15;
        text-align: center;
        border: 1px solid $color5;
        border-radius: 4px;
    }
}