.datepicker{
    display: flex;
    justify-content: flex-start;
    margin-right: 27px;

     .react-datepicker__input-container{
         width: 152px;
         margin-right: 27px;
         border-radius:4px;
         border: 1px solid $color5;
         > input{
             max-width: 100%;
             background: $color17;
             padding: 3px 3px 3px 16px;
             color: $color8;
             font-size: 14px;
             line-height: 22px;
             border: none;
             border-radius: 4px;
             background-image: url(../assets/img/calendar-icon.png) ;
             background-repeat: no-repeat;
             background-position-x: 88%;
             background-position-y: 6px;
             cursor: pointer;
         }
         &:last-child{
             margin-right: 0;
         }
     }
     .react-datepicker__tether-enabled{
         &.react-datepicker__input-container{
             border-color: $color2;
         }
     }
}

.react-datepicker__month-read-view--down-arrow:before, 
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle:before,
 .react-datepicker__year-read-view--down-arrow:before{
        border-top-color: $color5 !important;
    }
.react-datepicker{
    border-color: $color5 !important;
    .react-datepicker__triangle{
        border-bottom-color: $color14 !important;
        left: 27px;
        &:before{
            border-bottom-color: $color5 !important;
        }
    }
    
    .react-datepicker__current-month{
        margin-bottom: 9px;
        padding-bottom: 13px;
        font-size: 14px;
        line-height: 22px;
        color: $color6;
        font-weight: 500;
        border-bottom: 1px solid $color5;
    }

    .react-datepicker__month-container{
        width: 280px;
        margin-bottom: 10px;
    }
    .react-datepicker__month{
        margin: 12px 0 0;
        padding: 0 10px;
    }

    .react-datepicker__day-names{
        display: flex;
        padding: 0 10px;
        .react-datepicker__day-name{
            flex: 1 0 auto;
            font-size: 14px;
            line-height: 22px;
            color: $color2;
            text-transform: uppercase;
        }
    }

    .react-datepicker__navigation{
        top: 15px;
        width: 13px;
        height: 21px;
        background: url(../assets/img/chevron.png) no-repeat;
        border:none;
        &--previous{
            left: 20px;
        }
        &--next{
            right: 20px;
             transform: rotate(180deg);
        }
    } 

    .react-datepicker__header{
        padding-top: 16px;
        border-bottom: 0;
        background: $color14;
    }
    .react-datepicker__week{
        display: flex;
    }
    .react-datepicker__day{
        flex: 1 0 auto;
        margin: 2px 6px;
        font-size: 14px;
        line-height: 22px;
        color: $color3;
        font-weight: 500;
        &.react-datepicker__day--selected{
            background: $color6;
            border-radius: 0;
            color: $color21;
            &:hover{
                background: $color6;
            }
        }
        &.react-datepicker__day--in-selecting-range{
            background: $color17;
            border-radius: 0;
            color: $color3;

        }
        &.react-datepicker__day--keyboard-selected{
            background: $color6;
            border-radius: 0;
            color: $color21;
        }
        &:hover{
            background: $color6;
            border-radius: 0;
            color: $color21;
        }
    }
    .react-datepicker__today-button{
        text-align: left;
        padding: 8px 0 8px 20px; 
        font-size: 11px;
        line-height: 22px;
        color: $color3;
        background: $color14;
        border-color:$color5;
    }
}


.react-selectize.root-node.default.react-default-template .react-selectize-control .simple-value {
    font-size: 14px;
    span{
        padding: 1px 24px 1px 10px;
        height: 23px;
    }
 
}

.filter-panel{
    margin-bottom: 41px;
    .react-selectize.root-node.default.simple-select.selectize-select-theme-filter .react-selectize-control .simple-value{
        color: $color8;
    }
    .simple-select.react-selectize.default.root-node.open .react-selectize-control{
        background: $color17;
    }
}

.chain-word{
    margin-right: 26px;
    font-size: 14px;
    line-height: 22px;
    color: $color6;
}

.select-wrap{
    min-width: 194px;
    margin-right: 40px;
}