.details{
  background-color: $color17;
  padding: 44px 0 31px;
  .details__item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
    .details__item-title{
      color: $color3;
      width: 128px;
      min-width: 128px;
      max-width: 128px;
      text-align: right;
      margin-right: 30px;
      flex: 1;
      flex-wrap: wrap;
    }
    .details__item-text{
      color: $color8;
      text-align: left;
      flex:auto;
      word-break: break-word;
      span{
        margin-right: 10px;
      }
      a {
        margin-right: 5px;
        color: $color8;
        &:hover {
          color: $color8;
        }
      }
    }
  }
}
