.disclaimer{
    margin-bottom: 43px;
    padding: 24px 110px 40px 38px;
    background: $color17;
    text-align: left;
    &__description{

    }
    &__note{
        margin-bottom: 22px;
        
    }
    &__header-wrap{
        margin-bottom: 21px;
    }
    &__note-exaxmple{
        letter-spacing: 1.9px;
    }
    &.disclaimer-checkout{
        padding: 24px 40px 38px;
        margin-bottom: 0;
        background: #ffffff;
        .disclaimer__note{
            color: #b6b6b6;
            &.disclaimer__note_dark{
                color: #909090;
            }
        }
        
    }
}
.saved-cards-wrap{
    padding: 20px 25px 25px;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    .form-default .form-default__header {
        margin: 0 0 20px 0;
    }
}