.download-new-photo{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  text-align: center;
  background-color: #1e1e1e;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  border: none;
  opacity: 0;
  input[type=file]{
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    font-size: 0;
  }
  .download-new-photo__text{
    color: #fff;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
  }
}
label.download-new-photo{
  margin: 0;
  font-weight:inherit;
}
