.filter{
  text-align: left;
  display: block;
  margin-bottom: 25px;
  .filter__item{
    display: block;
    margin-bottom: 3px;
    position: relative;
  }
  .filter__item-icon{
    display: inline-block;
    color: $color9;
    position: absolute;
    top: 2px;
    left: -20px;
    font-size: 12px;
    cursor: pointer;
  }
  .filter__item-text{
    display: inline-block;
    font-size: 12px;
    color: $color3;
  }
}
.btn-clear-filter{
  color: $color11;
  width: 100%;
  border-color: $color11;
  padding: 8px 12px;
}

.filter__range{
  height: 90px;
  padding: 0 0 40px;
  position: relative;
  &.filter__range--small-indent{
    padding-bottom: 20px;
  }
  .catalog__title{
    margin-bottom: 16px;
  }
  .rc-slider{
    .rc-slider-rail{
      height: 2px;
    }
    .rc-slider-track{
      height: 2px;
      background-color: #ffcc00;
    }
    .rc-slider-handle{
      border: solid 2px #ffcc00;
      width: 10px;
      height: 10px;
      margin-top: -4px;
      box-shadow:none;
      outline: none;
    }
  }
  .filter__range-value{
    position: absolute;
    bottom: 22px;
    font-size: 12px;
    color: $color3;
  }
  .filter__range-value_min{
    left: 0;
  }
  .filter__range-value_max{
    right: 0;
  }
}

.filter__checkbox-block{
  margin-top: 40px;
  margin-bottom: 30px;
}
