.following-feed{
  background-color: $color12;
  padding: 28px 0;
  position: relative;
  .following-feed_disabled{
    background: $color31;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  .title_primary{
    color: #ffffff;
    margin-bottom: 16px;
  }
  .title_secondary{
    margin-bottom: 54px;
  }
  .track{
    .track__name{
      color: #ffffff;
    }
    .track__author{
      &:hover{
        color: #ffffff;
      }
    }
  }
  .btn-primary{
    margin: 47px 0;
  }
  .track__wrap{
    overflow: visible;
    .slick-slide{
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    .slick-slide.slick-active{
      opacity: 1;
    }
  }
}
