.follow-box{
    align-items: center;
    .follow-box__inner-group{
        text-align: left;
    }
    .follow-box__inner-group_flex{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .follow-box__header-wrap{
        margin: -7px 0 16px 0;
    }
    .follow-box__header{
        font-size: 42px;
        line-height: 44px;
         color: $color13;
         letter-spacing: -1.3px;
         padding: 0 0 5px 0;
    }
    .follow-box__header-small{
        color: $color14;
        font-size: 14px;
        font-weight: 600;
    }
    .follow-box__photo{
        width: 170px;
        height: 170px;
        margin: 0 35px 0 0;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        .img-responsive{
          height: 100%;
        }
      &:hover{
        .download-new-photo{
          opacity: 1;
        }
      }
    }
    .follow-box__btn-group{
        @extend .flexbox;
         .btn{
            width: 206px;
            margin: 0 20px 0 0;
            &:last-child{
                margin: 0;
            }
        }
    }
   
    .btn-primary{
        margin: 0 0 10px 0;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 15px;
    }
    .btn_line{
        font-size: 14px;
        color: $color14;
        font-weight: 600;
        text-transform: capitalize;
        &:focus, &:hover, &:active{
            color: $color6;
        }
    }
}

