.footer{
  background-color: $color1;
  padding: 65px 0 25px;
  .footer__logo{
    width: 166px;
    height: 25px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 5px 0;
  }
  .title_secondary{
    color: #ffffff;
    text-align: left;
    margin-bottom: 21px;
  }
  .footer__menu{
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    .footer__menu-item{
      a:focus {
        text-decoration: none;
        color: #909090;
      }
      display: block;
      .title_small{
        transition: 0.2s ease-out;
        text-decoration: none;
        &:hover{
          color: #ffffff;
        }
      }
    }
  }
  .footer__social{
    text-align: left;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer_with-margin{
  margin-bottom: 94px;
}

.copy{
  text-align: left;
  color: $color8;
  font-size: 12px;
  margin: 46px 0 0;
}

.sticky_footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #fafafa;
  z-index: 1000;
  border-top: 1px solid #e8f0f2;
}
