input[type="password"]{
    &::-webkit-input-placeholder {
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: 600;
        position: relative;
        top: 5px;
    }
}

.form-wrap{
    border: 1px solid $color3;
    margin-bottom: 27px;
    padding: 44px 98px 40px 98px;
    &__large-right-gap{
        padding: 44px 174px 40px 40px;
    }
    &__medium-right-gap{
        padding: 44px 136px 40px 40px;
    }
    &.form-wrap__indent-large{
        padding-top: 71px;
        padding-bottom: 73px;
    }
    &__notifications{
        padding: 39px 174px 40px 40px;
    }
    &__indent-bot{
        margin-bottom: 42px;
    }
}
.form-wrap__header{
        margin-bottom: 37px;
    &-top-indent{
        margin-top:-2px;
    }
}
.form-default{
    text-align: left;
    .form-default__header{
        margin: 0 0 35px 0;
    }
    .label-default{
        font-weight: 400;
        margin-bottom: 0;
        background: transparent;
        cursor:pointer;
    }
    .control-label{
        margin: 0 0 10px 0;
        font-size: 17px;
        line-height: 17px;
        font-weight: 600;
        color: $color6;
    }
    .form-control{
        height: 41px;
        border-color: $color3;
        &__short-field{
            max-width: 134px;
            width: 100%;
        }
        &__low{
            height: 33px;
        }
    }
    .help-block{
        margin-top: 7px;
        font-size: 14px;
        line-height: 22px;
        color: $color3;
        &__color-black{
            color:$color6;
        }
        &__field-available{
            color: $color22;
        }
        &__field-error{
            color: $color9;
        }
    }
    .form-group{
        &.form-group__indent-bot-medium{
            margin-bottom: 24px;
        }
        &.form-group__indent-bot-big{
            margin-bottom:36px;
        }
        &__indent-bot-large{
            margin-bottom:62px;
        }
        &.has-error {
          .control-label{
            color: #a94442;
          }
          .form-control{
            border-color: #a94442;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          }
        }
    }
    .form-group__image{
        display: inline-block;
        margin: 0 26px 0 0;
    }
    .form-control-select{
        padding: 0px 40px 0 14px;
        color: $color8;
         background-position-x: 95%;
        border-color: $color3;
    }
    .form-control-textarea{
        resize: none;
        min-height: 152px;
        border-color: $color3;
    }
    .form-control-textarea_contact{
      height: 100px;
      min-height: 100px;
    }
    &__notifications{
        .form-default__header{
            margin: 0 0 37px;
        }
        .help-block{
            margin-top: 12px;
        }
        .form-group{
            margin-bottom: 32px;
        }
    }
    &__payment-field{
        display: flex;
        align-items: center;
        .control-label{
            margin: 0 10px 0 0;
            color: $color8;
            font-size: 20px;
        }
        .form-control{
            font-size: 20px;
            color: $color8;
            max-width: 90%;
        }
    }
}

.form-edit-box{
    display: flex;
    align-items: center;
}

.form-group__beyond{
    margin: 50px -28px 10px;
    padding: 24px 28px 12px;
    background: $color2;
}

.form-control-select{
  max-width: 200px;
  width: 200px;
  height: 40px;
  padding: 0px 40px 0 16px;
  font-size: 16px;
  color: $color15;
  border: 1px solid $color7;
  appearance: none;
  background: url(../assets/img/arrow-yellow.png) no-repeat;
  background-position-x: 91%;
  background-position-y: 50%;
  cursor: pointer;
  letter-spacing: 0.4px;
  &:focus, &:hover, &:active{
    outline: none;
  }
  &.form-control-select__auto-width{
      max-width: 100%;
      width: 100%;
  }
  &.form-control-select__color-grey{
      color: $color8;
  }
  &.form-control-select__border-orange{
       border-color: $color2;
  }
  &.form-control-select__static{
      width: 270px;
      max-width: 270px;
      padding: 0 19px;
      background-position-x: 96%;
  }
}



.btn-toolbar_contact{
  margin: 0;
  .btn{
    margin: 0;
  }
  .btn_line{
    background-color: transparent;
  }
}

.not-valid,.form-default .help-block.not-valid{
  color: $color9;
}
