.header{
  background-color: $color1;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px 0 0;
    overflow: hidden;
    .header__nav-btn{
      background-color: transparent;
      border: none;
      outline: none;
      padding-bottom: 4px;
      padding-top: 2px;
      padding-left: 3px;
      margin-right: 8px;
      cursor: pointer;
      position: absolute;
      left: 12px;
      z-index: 10;
    }
    .header__nav-item{
      margin-right: 30px;
      color: $color3;
      background-color: transparent;
      box-shadow: none;
      border: none;
      font-size: 15px;
      white-space: nowrap;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      transition: 0.1s ease-out;
      position: relative;
      // left: -100%;
      opacity: 1;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: #fff;
      }
      &.header__nav-item--highlited{
        color: #ffcc00;
      }
    }
    .header__nav-item_active{
      left: 0;
      opacity: 1;
    }
  }
  .header__nav_user{
    height: 74px;
    line-height: 74px;
    justify-content: flex-end;
    padding: 0 0 0 17px;
    overflow: visible;
    margin-left: 0;

    li{
      line-height: 1
    }
    .header__nav-item{
      font-size: 14px;
      color: #ffffff;
      left: 0;
      opacity: 1;
      padding: 0 10px;
      margin-right: 10px;
      &:hover{
        color: $color2;
      }
      &.header__user-name-wrap{
        margin-right: 33px;
        padding-left: 0;
        &:hover{
          .dropdown-options__icon-plus{
            margin: 2px 0 0 ;
            -webkit-transform-origin: 50% 50%;
            transform: rotate(180deg);
            transition: 0.3s;
          }
        }
      }
    }
    .header__nav-btn{
      position: relative;
      margin-right: 0;
      position: relative;
      left: 0;
    }
    &.header__nav_user-logged{
      .header__nav-item{
        &.header__nav-item__logged{
          display: block;
        }
        &.header__nav-item__current-invoice{
          margin-right: 24px;
          padding: 5px 11px 6px 12px;
          letter-spacing: -0.7px;
          font-size: 16px;
          line-height: 1;
          color:$color8;
          font-weight: 600;
          background: $color30;
          border-radius:4px;
          cursor: pointer;
          .text-small{
            font-size: 16px;
          }
          &:hover{
            background:#373737;
          }
        }
        .header__nav-item__user-name{
          display: block;
          font-size: 15px;
          color:$color2;
          font-weight: 500;
          max-width: 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          padding-right: 10px;
          white-space: nowrap;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.header_fixed{
  position: fixed;
  width: 100%;
  min-width: 1280px;
  z-index: 100;
}

.logo{
  background-repeat: no-repeat;
  display: inline-block;
}

.header__logo {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 1px;
  text-align: center;
  height: 74px;
  & > div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    svg{
      padding: 1px 0 0 0;
    }
  }
}

.cart{
  position: relative;
  line-height: 1;
  .cart__count{
    position: absolute;
    bottom: -1px;
    right: -6px;
    background-color: $color9;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    z-index: 10;
    display: flex;
    padding: 0px 3px 2px 3px;
    min-width:15px;
    height: 15px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
}

.disabled-cart {
  pointer-events: none;
  opacity: 0.4;
}




