.helper{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: $color2;
    color: $color14;
    border-radius: 50%;
    font-size: 12px;
    cursor:pointer;
    margin: 0 0 0 15px;
}
.flexbox{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.nopadding{
    padding: 0;
}
.nopadding-right{
    padding-right: 0;
}
.nomargin{
    margin: 0;
}

.align-right{
  text-align: right;
}
.align_left{
  text-align: left;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
