.facebook-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/facebook-icon.png') no-repeat;
    background-size: contain;
}

.flickr-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/flickr-icon.png') no-repeat;
    background-size: contain;
}

.sound-clound-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/sound-cloud-icon.png') no-repeat;
    background-size: contain;
}

.instagram-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/instagram-icon.png') no-repeat;
    background-size: contain;
}

.vimeo-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/vimeo-icon.png') no-repeat;
    background-size: contain;
}

.google-plus-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/google-plus-icon.png') no-repeat;
    background-size: contain;
}

.linked-in-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/linked-in-icon.png') no-repeat;
    background-size: contain;
}

.twitter-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/twitter-icon.png') no-repeat;
    background-size: contain;
}

.youTube-icon{
    height: 33px;
    width:33px;
    display: block;
    background: url('../assets/img/youTube-icon.png') no-repeat;
    background-size: contain;
}

.globe-icon{
    display: block;
    width: 30px;
    height: 30px;
    background: url('../assets/img/globe-icon.png') no-repeat;
    background-size: contain;
    &__right-gap{
        margin-right: 13px;
    }
}
