.jumbotron-home{
  text-align: left;
  background-color: #ffffff;
  .jumbotron-home__inner{
    position: relative;
    background-color: #e8f0f2;
    padding: 0 35px 0;
    margin: 0 -36px;
    //background: url('../assets/img/jumbotron-img.png') no-repeat #e8f0f2;
  }
  .jumbotron-home__inner-wrap{
    display: flex;
  }
  .jumbotron-home__inner-right{
    margin-top: 141px;
    margin-bottom: 159px;
  }
  .jumbotron-home__img{
    display: inline-block;
    background-image: url('../assets/img/jumbotron-img.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 78%;
    background-position-x: 33%;
    background-position-y: 100%;
  }
  .title_secondary{
    margin-bottom: 9px;
  }
  .title_primary{
    margin: 0 0 25px;
  }
  .input_search-wrap{
    margin-bottom: 23px;
  }
  .btn_light{
    width: 100%;
    min-width: 140px;
    margin: 3px 0 8px;
  }
  .jumbotron-home__btn-group{
    position: absolute;
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
  }
}
