.list-box{
    .list-box__header-wrap{
        margin: 0 0 35px;

    }
    .list-box__header{
        font-weight: 100;
        color: $color3;
        font-size: 42px;
        line-height: 44px;
        text-align: left;
        letter-spacing: -0.5px;
    }
}

.track-list{
    margin: 0 0 40px;
    .track-list__item {
        position: relative;
        padding: 18px 30px 18px 30px;
        text-align: left;
        transition: background-color 0.3s;
        &:before{
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            top: 0;
            left: 30px;
            right:0;
            background: $color5;
            margin-right: 30px;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
        &:hover{
            .versions-circle {
                background: #afafaf;
                border-color: #afafaf;
                .versions-circle__text{
                    color: #ffffff;
                }
            }
            .btn-download {
                svg{
                    path{
                        fill: #0097a7;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: #00838f;
                        }
                    }
                }
            }
            background-color: $color24;
            transition: background-color 0.3s;
            &:before{
                background:$color24;
            }
             & + .track-list__item{   
                &:before{
                    background:$color24;
                }
            }
        }
        &-type{
            font-size: 12px;
            color: #b6b6b6;
        }
    }
    .track-list__item-options{
        margin-left: 0;
        .track-list__item-duration{
            margin-right: 7px;
        }
        &.track-list__item-with-versions{
            margin-left: 0px;
            padding: 0;
        }
        .player__btn-actions-container{
            justify-content: flex-start;
        }
        &-download{
            flex-flow: row wrap;
            padding-right: 0;
            .dropdown{
                margin-bottom: 5px;
            }
        }
    }
    .track{
        margin: 0;
        .track__info{
            padding: 0 0 0 2px;
        }
        .track__author{
            margin: 0;
            font-size: 12px;
        }
    }
    .track-list__item-duration{
        position: relative;
        left: -10px;
        font-size: 14px;
        color: $color8;
    }
    .btn-action{
        font-size: 14px;
        color: #606060;
        border: 1px solid #ffcc00;
        margin-left: 5px;
        &.btn-action__role-follow{
            margin-left: 0;
        }
    }
    .track__options{
        position: relative;
        margin-left: 10px;
        top: 0;
        right: 0;
      .dropdown-menu{
        left: -50%;
      }
    }
}

.achivments-list{
    margin-bottom: 16px;
    .achivments-list-wrap{
        display: flex;
        flex-flow:row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .achivments-list__item{
        display: block;
        margin: 0 5px 30px 0;
        flex: 0 0 25%;
    }
    .achivments-list__item-image{
        width: 48px;
        height: 48px;
    }
    .header__primary {
        padding: 10px 0 21px;
    }
}

.follow-list{
    padding: 75px 0 0;
    text-align: left;
    &.follow-list__column{
        padding: 20px 0 0;
        .follow-list-wrap{
            padding: 16px 0 0 0;
        }
        .header__primary{
            .header__primary-note{
                padding-left: 30px;
            }
        }
         .follow-list__item{
             display: flex;
             justify-content: space-between;
             align-items: center;
             position: relative;
             &:not(:last-child){
                margin: 0 0 10px 0px;
             }
         }
        .follow-list__item-image{
            display: block;
            margin-right: 10px;
            border-radius: 100%;
            overflow: hidden;
            img{
              height: 100%;
              width: 100%;
            }
        }
    }
    .follow-list-wrap{
        padding: 16px 0 0 0;
    }
    .follow-list__item-wrap{
        display: flex;
    }
    .follow-list__item{
        display: inline-block;
        position: relative;
        .btn.btn-action{
            color: #606060;
        }
    }
    .follow-list__item-image{
        display: block;
        height: 54px;
        width: 54px;
        border-radius:100%;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
        }
    }
    .follow-list__item-description{
        padding-top: 3px;
    }
    .follow-list__item-title{
        font-size: 14px;
        color:$color8;
        text-decoration: none;
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
    }
    .follow-list__item-note{
        padding: 3px 0 0;
        color: $color3;
    }
    .follow-list__item-note-icon{
        display: inline-block;
        width: 12px;
        height: 15px;
        margin: 0 5px 0 0;
        position: relative;
        top: 4px;
        background: url('../assets/img/note-icon.png') no-repeat;
    }
}

.card-list{
        padding: 20px 0 0;
    .card-list-wrap{
        display: flex;
        flex-flow: row wrap;
        padding: 16px 0 0;

        &:last-child {
          padding: 16px 0 32px;
        }
    }
    .card-list__item{
        position: relative;
        margin: 35px 0 0 0;
        @media screen and (max-height: 850px) {
            margin: 20px 0 0 0;
        }
        &:nth-child(1){
            margin-top: 0;
        }
        &:nth-child(2){
            margin-top: 0;
        }
        &:nth-child(odd){
            margin-right: 40px;
            @media screen and (max-height: 850px) {
                margin-right: 20px;
            }
        }
        &:hover{
            .card-list__item-title{
               opacity: 1;
               transition: opacity 0.3s;
            }
        .card-list__item-image{
            &:before{
                opacity: .7;
                transition: opacity 0.3s;
                cursor: pointer;
            }
          }
        }
    }
    .card-list__item-title{
        position: absolute;
        left: 8px;
        bottom: 6px;
        color: #000;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        text-align: left;
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .card-list__item-image{
        width: 115px;
        height: 115px;
        position: relative;
        &:before{
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background: $color2;
            opacity: 0;
            transition: opacity 0.3s;
        }
        img{
          height: 100%;
          width: 100%;
        }
    }
}

.tags-list{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    &.tags-list__indent{
        margin-left: 2px;
        margin-bottom: 56px;
    }
    .tags-list__item{
        margin: 0 10px 10px 0;
        padding: 1px 12px 2px;
        font-size: 16px;
        color: $color8;
        border: 1px solid $color3;
        background: $color14;
        border-radius: 3px;
        cursor:pointer;
        transition: background, border 0.3s;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background: $color7;
            border-color:$color7;
            transition: background, border 0.3s;
        }
        &.tags-list__item__active{
            background: $color7;
            border-color:$color7;
            transition: background, border 0.3s;
        }
    }
}

.cards-list{
    &.cards-list__small{
        -webkit-font-smoothing: antialiased;
        .list-inline > li{
            padding: 0 2px;
        }
        .cards-list__item-wrap{
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        .cards-list__item{
            padding: 10px 15px 11px;
        }
        .cards-list__item-description{
            margin-right: 5px;
        }
        .cards-list__item-date{
            font-size: 16px;
        }
         .cards-list__item-image{
             margin-right: 15px;
         }
    }
    .cards-list__item-wrap{
        display: flex;
        align-items: center;
        margin-bottom: 19px;
    }
    .cards-list__item{
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        padding: 10px 25px 11px;
        border: 1px solid $color3;
        border-radius: 5px;
        background: #ffffff;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    .cards-list__item-image{
        width: 56px;
        margin-right: 25px;
    }
    .cards-list__item-description{
        margin-right: 18px;
    }
    .cards-list__item-title{
        color: $color3;
        font-size: 14px;
    }
    .cards-list__item-note{
        color: $color6;
        font-size: 16px;
    }
    .cards-list__item-date{
        color: $color6;
        font-size: 18px;
        align-self: baseline;
    }
    .list-inline{
        & > li{
            padding: 0 6px;
        }
    }
}

.card-icon-list{
    margin-top: 9px;
    &__item{
        margin: 0 8px 0 0;
        &:last-of-type{
            margin: 0;
        }
    }
    &__item-image{
        max-width: 40px;
    }
}

@media screen and (max-height: 800px) {

}
