.map{
        flex: 0 1 auto;
    height: 350px;
    .map__flags-group{
         position: relative;
    }
}

.flag{
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3px;
    &.flag__germany{
        width: 78px;
        height: 50px;
        top: 100px;
        right: 190px;
    }
    &.flag__usa{
        width: 80px;
        height: 41px;
        top: 163px;
        left: 95px;
    }
    &.flag__japan{
        width: 64px;
        height: 42px;
        top: 174px;
        right: 61px;
    }
}