.modal-default{
    width: 550px;
    .modal-header{
        position: relative;
        padding: 34px 15px 26px;
        border: none;
        .title_primary{
            &.title_primary__inner{
                text-align: center;
            }
        }
        .close{
            position: absolute;
            top: 5px;
            right: 17px;
            font-size: 45px;
            font-weight: 100;   
            color: $color2;
            margin: 0;
            opacity: 1;
        }
    }
    .modal-body{
        padding: 20px 62px 20px 52px;
    }
    .modal-footer{
        padding: 15px 15px 48px;
        border:none;
        text-align: center;
        .title{
            &.title-note{
                font-weight: 400;
            }
        }
        .action-link{
            font-weight: 400;
            line-height: 22px;
        }
    }
    &__submit-wrap{
        margin-bottom: 25px;
    }
    .form-control{
        color: $color8;
    }

    .modal-note{
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        color:$color3;
    }

    .modal-note__link{
        color: $color8;
        font-weight: 500;
    }
    &.modal-message{
        .modal-header{
            padding-bottom: 0;
        }
        .modal-body{
                padding: 17px 62px 31px 52px;
        }
        .modal-footer{
                padding: 15px 15px 42px;
        }
    }
}

.modal-backdrop.in{
    z-index: 101 !important;
}

.modal-open, .modal-open .navbar-fixed-top {
    padding-right: 0 !important;
}