.new-tracks{
  background-color: $color6;
  padding: 20px 0 60px;
  .title_primary{
    color: $color3;
    margin-bottom: 36px;
  }
  .btn-primary{
    margin: 39px 0 2px;
  }
  .track{
    .track__name{
      color: #ffffff;
    }
    .track__author{
      &:hover{
        color: #ffffff;
      }
    }
  }
  .new-tracks__container{
    margin-top: 40px;
  }
}

