.newsletter,.newsletter.jumbotron-home{
  text-align: center;
  padding-bottom: 34px;
  padding-top: 0;
  .jumbotron-home__inner{
    padding: 83px 35px 93px;
  }
  .title_primary{
    color: $color6;
    margin-bottom: 19px;
  }
  .title_small{
    margin-bottom: 48px;
  }
  .input-primary{
    height: 70px;
    text-align: center;
    margin-bottom: 77px;
  }
}
