.pagination-defaul{
    margin: 0;
    background: $color14;
    li{
        &:first-child{
            a{
                padding-right: 22px;
                span{
                    font-size: 23px;
                    line-height: 0;
                    font-weight: 100;
                }
            }
            
        }
        &:last-child{
            a{
                padding-left: 22px;
                span{
                    font-size: 23px;
                    line-height: 0;
                    font-weight: 100;
                }
            }
        }
        &.active{
            a{
                border:none;
                font-weight: 700;
                color: $color8;
                background: transparent;
                &:hover, &:focus, &:active{
                    background: transparent;
                    border: none;
                    outline: none;
                    color: $color8;
                }
            }
        }
        a{
            padding: 6px 8px;
            font-size: 14px;
            border: none;
            color: $color8;
            &:hover, &:focus, &:active{
                background: transparent;
                border: none;
                outline: none;
                color: $color8;
            }
        }
        span{
            padding: 0;
        }
    }
}