.panel-notification{
    padding: 13px 14px 13px 13px;
    background: #f9f9f9;
    border: 1px solid #e9e8e8;
    border-radius: 4px;
    &__description{
        margin-right: 16px;
        &_balance{
            margin-right: 34px;
        }
    }
    &_balance{
        padding: 13px 14px 13px 21px;
    }
}

    