.payment-cards{
    text-align: left;
    .payment-cards__item-wrap{
        margin-bottom: 30px;
    }
    .payment-cards__title{
        margin-bottom: 16px;
        color: $color6;
        font-size: 18px;
        font-weight: 600;
    }
    .payment-cards__item{
        min-height: 100%;
        padding: 16px 23px 16px 25px;
        border: 1px solid $color3;
        border-radius: 4px;
        background: $color14;
        transition: background 0.3s;
        cursor: pointer;
        &.payment-cards-with-field{
            padding: 17px 25px 18px 15px;
            .payment-cards__item-header{
                padding: 0 0 0 20px;
                margin: 0 0 17px 0;
            }
            .payment-cards__item-note{
                padding-left: 20px;
            }
        }
        &__active{
            background: $color6;
            .payment-cards__item-header{
                 color: $color14;
             }
             .payment-cards__item-description{
                 color: $color14;
             }
        }
        &__disabled{
            background: $color24;
            cursor: default;
            .payment-cards__item-header{
                color: $color3;
            }
            .payment-cards__item-description{
                color: $color3;
            }
            &:hover{
                background: $color24 !important;
                .payment-cards__item-header{
                    color: $color3 !important;

                }
                .payment-cards__item-description{
                    color: $color3 !important;
                }
            }
        }
        &:hover{
            background: $color6;
            transition: all 0.3s;
             .payment-cards__item-header{
                 color: $color14;
                 transition: color 0.3s;

             }
             .payment-cards__item-description{
                 color: $color14;
                 transition: color 0.3s;
             }
        }
    }
    .payment-cards__item-header{
        margin: 0 0 17px 0;
        color: $color6;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 0.3px;
        transition: color 0.3s;
        height: 44px;
    }
    .payment-cards__item-note{
        font-size: 14px;
        line-height: 22px;
        color: $color3;
        letter-spacing: -0.1px;
    }
    .payment-cards__item-description{
        margin: 0;
        font-size: 16px;
        color: $color6;
        font-weight: 600;
        letter-spacing: 0.3px;
        transition: color 0.3s;
    }
}
.payment-methotd-menu-wrap{
    padding: 38px;
    background: #f9f9f9;
    border: 1px solid #b6b6b6;
}
.payment-methotd-title{
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #262626;
}

.payment-methotd-menu{
    &.nav{
        &:before,
        &:after{
            display: none;
        }
    }
    .tabs-menu__item{
        flex: 0 0 31%;

        a{
            padding: 0;
        }
        &.active{
            .payment-cards__item{
                 background: $color6;
            }
            .payment-cards__item-header{
                 color: $color14;
             }
             .payment-cards__item-description{
                 color: $color14;
             }
        }
    }
}
