.product-panel{
    .product-panel-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 46px 11px 42px;
        background: $color1;

    }
    .product-panel-title{
        font-size: 14px;
        line-height: 22px;
        color: $color14;
    }
    .product-panel-header__action-group{
        .btn-primary__big{
            font-size: 18px;
            margin-right: 44px;
        }
        .btn-secondary{
            font-size: 18px;
        }
    }
    .product-panel-content{
        padding: 31px 44px 49px 40px;
        border: 1px solid $color5;
    }
    .product-panel-content__top{
        margin-bottom: 40px;
    }
    .product-panel-content__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.product-panel-content-empty{
    padding: 60px 0;
    text-align: center;
    border: 1px solid #e9e8e8;
    .product-panel-content-empty__title{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
    }
    .product-panel-content-empty__description{
        font-size: 14px;
        line-height: 1;
    }
}



.total-price{
    display: flex;
    align-items: flex-end;
    .total-price__title{
        margin-right: 14px;
        padding-bottom: 2px;
        font-size: 30px;
        line-height: 1;
        color: $color6;
    }
    .total-price__value{
        font-size: 42px;
        line-height: 1;
        color: $color6;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}