.upload-progress-bar{
  margin: 20px 0;
  .progress{
    height: 7px;
    border-radius: 5px;
    .progress-bar{
      background-color: #ffcc00;
    }
  }
}

.upload-filenames{
  margin: 10px 0;
  .upload-filenames__item{
    display: block;
    margin-bottom: 10px;
  }
}

.upload-progress-bar__hack {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  .progress{
    height: 7px;
    border-radius: 5px;
    .progress-bar{
      background-color: #ffcc00;
    }
  }
}
