.scroll-content-nav{
  position: fixed;
  width: 170px;
  padding-top: 125px;
  text-align: left;
  .scroll-content-nav__item{
    display: block;
    color: $color11;
    font-size: 13px;
    line-height: 1.54;
    margin-bottom: 10px;
    cursor: pointer;
    &.active{
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: $color6;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

.scroll-content__container{
  text-align: left;
  padding-bottom: 50px;
}

.scroll-content__title-second{
  font-size: 23px;
  font-weight: 300;
  line-height: 1.43;
  color: $color6;
  margin: 35px 0 45px 0;
}

.scroll-content__title-third{
  font-size: 17px;
  line-height: 1.43;
  color: #6b6b6b;
  margin-bottom: 20px;
}
.scroll-content__text{
  color: $color8;
  font-size: 14px;
  line-height: 1.57;
}

.content-list{
  .content-list__item{
    margin-bottom: 18px;
  }
  .content-list_circle{
    position: relative;
  }
}
.content-list_circle{
  .content-list__item{
    list-style-type: none;
    padding-left: 30px;
    position: relative;
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 8px;
      object-fit: contain;
      background-color: $color2;
      border-radius: 100%;
      left: 0;
      top: 7px;
    }
  }
}
.content-list_tick{
  .content-list__item{
    list-style-image: url('../assets/img/ul-sign.png');
    margin-left: 20px;
    padding-left: 10px;
    position: relative;
  }
}
.content-list_decimal{
  .content-list__item{
    margin-left: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    color: $color6;
    span{
      font-weight: 400;
    }
  }
}

.scroll-content__list-title{
  margin-bottom: 29px;
}

.scroll-content__image{
  margin: 20px 0;
}

.scroll-content__table{
  border-collapse: collapse;
  margin: 30px 0;
  thead{
    td{
      font-weight: bold;
      padding: 10px 20px;
    }
  }
  td{
    border: 1px solid $color3;
    padding: 20px;
    text-align: left;
  }
}
.scroll-content__separator{
  border-bottom: 1px solid #e9e8e8;
  margin: 40px 0 33px;
}
