.react-selectize{
    &.root-node{
        &.default{
            font-family: "Open Sans", sans-serif;
            &.simple-select{
                &.react-default-template{
                    max-height: 187px;
                    &:not(.open){
                        .react-selectize-control{
                            background-color:$color14;
                            background-image:none;
                        }
                    }
                }
                &.selectize-select-theme{
                    border-color: #e8f0f2;
                  max-height: 187px;
                    &:not(.open){
                        .react-selectize-control{
                            background-color:$color14;
                            background-image:none;
                            border-color: #e8f0f2;
                        }
                    }
                    .react-selectize-toggle-button-container{
                        width: 100%;
                        justify-content: flex-end;
                        padding-right: 10px;
                        position: absolute;
                        right: 0;
                    }

                }
                &.selectize-select-theme-filter{
                    &:not(.open){
                        .react-selectize-control{
                            background-color:$color17;
                            background-image:none;
                        }
                    }
                    .react-selectize-control{
                        padding: 0;
                        border-color: $color5;
                        .simple-value{
                            font-size: 14px;
                            line-height: 22px;
                            color: $color6;
                            span{
                                padding: 1px 40px 3px 10px;
                            }
                        }
                    }
                }
                &__border-orange{
                    &:not(.open){
                        .react-selectize-control{
                        }
                    }
                    &.open{
                        .react-selectize-control{
                        }
                    }
                    .dropdown-menu.default:not(.flipped){
                    }
                }
                &.simple-select__border-dark{
                    &:not(.open){
                        .react-selectize-control{
                            border-color: $color3;
                        }
                    }
                    &.open{
                        .react-selectize-control{
                            border-color: $color3;
                        }
                    }
                    .dropdown-menu.default:not(.flipped){
                         border-color: $color3;
                    }
                    .dropdown-menu{
                        &.default{
                            &:not(.flipped){
                                border-color:$color3 !important;
                            }
                        }
                    }
                }
                &__statick-width{
                    .react-selectize-control{
                        width: 270px;
                        max-width: 270px;
                    }
                }
            }
            &.react-default-template{
                display: block;
                width: 100%;
                max-height: 187px!important;
                .react-selectize-control{
                    padding: 4px;
                    border-color: #e8f0f2;
                    .react-selectize-placeholder{
                        color: $color8;
                    }
                    .value-wrapper{

                    }
                    .simple-value{
                         max-width: 100%;
                        color: $color6;
                        font-size: 16px;
                        font-weight: 500;
                        background: $color7;
                        border:none;
                        border-radius: 3px;
                        span{
                            padding: 1px 24px 3px 10px;
                            height: 26px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                            max-width: 100%;
                            white-space:nowrap;
                        }
                    }
                    .react-selectize-search-field-and-selected-values{
                        padding-left: 0;
                        max-width: 100%;

                    }
                    .value-wrapper{
                        max-width: 100%;
                    }
                    .react-selectize-toggle-button{
                        path{
                            fill: $color2;
                        }
                    }
                    .resizable-input{
                        color: $color8;
                    }
                }
            }
            &.selectize-select-theme{
                max-height: 187px;
                .react-selectize-control{
                    //border-color:$color7;
                    max-height: 40px;
                    .resizable-input{
                        opacity: 0;
                    }
                    .react-selectize-reset-button-container{
                        opacity: 0;
                    }
                    .simple-value{
                        font-size: 16px;
                        color: $color15;
                        background: none;
                    }
                }

                .dropdown-menu.default:not(.flipped){
                   // border-color:$color7;
                }
            }
            .dropdown-menu{
                display: block !important;
                padding: 10px 0 0 0;
                max-width: 100%;
                min-width: auto;
                max-height: 193px;
                .simple-group-title{
                    color: $color8;
                    font-size: 16px;
                    line-height: 22px;
                    background: transparent;
                    font-weight: 600;
                    padding-left: 20px;
                    padding-bottom:0;
                    padding-top: 0;
                }
                .options{
                    padding-left: 5px;
                    &:last-child{
                        padding-bottom: 5px;
                    }
                    .option-wrapper{
                        padding-left: 10px;
                        &.highlight{
                            background: $color5;
                        }
                    }
                    .simple-option{
                        line-height: 16px;
                        font-size: 14px;
                        color: $color8;
                    }
                }
            }
        }
    }
    &.dropdown-menu{
        &.default{
            &:not(.flipped){
                border-color:#e8f0f2 !important;
                box-shadow: none !important;
            }
        }
    }
    &.dropdown-menu.default.selectize-select-theme-filter{
        .option-wrapper{
            &.highlight{
                background: $color17;
            }
        }
        &:not(.flipped){
            border-color: $color5;
        }
    }

    &__dropdown-static{
        overflow: hidden;
        &.dropdown-menu{
            position: relative !important;
        }
    }
}


.multi-select.react-selectize.root-node .simple-value.value-with-close{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .btn-close{
    padding-left: 10px;
  }
}

