.seller-slider{
    .seller-slider__item{
        display: flex;
        flex-flow:row wrap;
        align-items: center;
        justify-content: center;
    }
    .seller-slider__item-image{
        display: flex;
        margin-right: 40px;
    }
    .seller-slider__item-inner{
        display: flex;
         align-items: center;
          justify-content: center;
        margin-bottom: 40px;
    }
     .seller-slider__item-title{
        margin-bottom: 11px;
        text-align:left;
        font-size: 23px;
        font-weight: 600;
        line-height: 1.43;
        color: $color6;
    }
     .seller-slider__item-note{
         max-width:300px;
        text-align:left;
        font-size: 14px;
        line-height: 1.57;
        color: $color8;
     }
   
    .seller-slider__action{
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
    }
}