.seller{
    width:100%;
    .seller-intro{
        padding: 128px 0 192px;
        background: url('../assets/img/seller-intro-bg.jpg') no-repeat;
        background-position-y: 50%;
        background-size: 100%;
    }
    .seller__header{
        margin: 0 0 18px 0;
        font-size: 42px;
        font-weight: 300;
        line-height: 1.14;
        letter-spacing: 1px;
        text-align: center;
        color: $color14;
    }
    .seller__header-remark{
        margin-bottom: 44px;
        font-size: 23px;
        font-weight: 300;
        line-height: 1.43;
        text-align: center;
        color: $color14
    }
}

.seller-incom{
    padding: 80px 0 103px;
    .seller-incom__header{
        margin: 0 0 15px 0;
        font-size: 42px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: $color3;
    }
    .seller-incom__description{
        max-width:380px;
        padding-top:67px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        color: $color8;
        text-align:left;
    }
    .seller-incom__inner{
        display:flex;
        justify-content:center;
    }
}

.sellers-feature{
    position: relative;
    top: -15px;
    .sellers-feature__title{
        background: #fff;
        margin-bottom: 28px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        text-align: center;
        color: $color8;
    }
}

.seller-incom__map{
    position: relative;
    left: -90px;
    z-index: -1;
}

.sellers-statistic-box{
    display: flex;
      padding-left: 235px;
    .sellers-statistic-box__title-group{
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-self: stretch;
        margin-right: 40px;
        padding-top: 20px;
    }
    .sellers-statistic-box__title{
        text-align:left;
        font-size: 14px;
        line-height: 1.57;
        color: $color8;
    }
}

.img-list{
    display: flex;
    .img-list__item{
        flex: 0 0 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        list-style:none;
        margin-right: 45px;
        &:last-child{
            margin-right: 0;
            .img-list__item-note{
                &:after{
                    display:none;
                }
            }
        }
    }
    .img-list__item-note{
        position: relative;
        display: flex;
        align-items:center;
        justify-content: center;
        width:58px;
        height: 58px;
        margin-bottom: 16px;
        background: $color2;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.83;
        color: $color14;
        border-radius:50%;
        &:before{
            content:'';
            display:block;
            position: absolute;
            top:-7px;
            left: -7px;
            bottom: -7px;
            right: -7px;
            border: 1px solid $color2;
             border-radius:50%;
        }
        &:after{
            content: '';
            position: absolute;
            right: -46px;
            top: 28px;
            display:block;
            height: 1px;
            width: 31px;
            background:$color7;
        }
    }
    .img-list__item-title{
        flex: 0 0 100%;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: $color33;
    }
}

.seller-stock{
    padding: 61px 0 115px;
    background: $color6;
    .seller-stock__header-group{
        margin-bottom: 43px;
    }
    .seller-stock__header{
        margin-bottom: 10px;
        font-size: 42px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: $color3;
    }
    .seller-stock__header-remark{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        text-align: center;
        color: $color8;
    }
}

.stock-card{
    display: flex;
    justify-content: center;
    .stock-card__count{
        margin-right: 11px;
        padding-top: 16px;
        font-size: 36px;
        font-weight: bold;
        line-height: 0.92;
        text-align: center;
        color: $color2;
    }
    .stock-card__description{
        
    }
    .stock-card__title{
        font-size: 16px;
        line-height: 1.75;
        color: $color14;
        text-align:left;
    }
    .stock-card__note{
        max-width: 260px;
        font-size: 13px;
        line-height: 1.46;
        color: $color34;
        text-align:left;
    }
}

.seller-slider-wrap{
    padding: 80px 0;
    
}

.seller-slider.owl-carousel{
     .owl-nav{
         .owl-prev{
             position: absolute;
             top: 50%;
             left: 220px;
             margin-top: -27px;
             width: 28px;
             height: 54px;
             background: url('../assets/img/slider-control.svg') no-repeat;
             text-indent: -9999999px;
         }
         .owl-next{
             position: absolute;
             top: 50%;
             right: 240px;
              margin-top: -27px;
             width: 28px;
             height: 54px;
             background: url('../assets/img/slider-control.svg') no-repeat;
             text-indent: -9999999px;
             transform: rotate(180deg);
         }
     }   
}