.sidebar-wrap{
    margin: 40px 0 0;
    padding: 0 15px;
    position: relative;
}
.sidebar{
    &:before{
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        background: $color5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;
    }
    .radio-box .radio-box__note{
      color: $color11;
    }
    .radio-box .radio-box__pseudo-radio{
      border-color: $color11;
    }
}

.sidebar_left{
  &:before{
    content: none;
  }
  &:after{
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background: $color5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
  }
}
