.social-links{
    display: flex;
    align-items: center;
    padding: 42px 0 0 0;
    .social-links__title{
        margin: 0 17px 0 0;
        color: $color8;
        font-size: 14px;
        white-space: nowrap;
    }
    .social-links__item{
        margin: 0 6px 0 0;
        font-size: 25px;
    }
}
.social-links-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
