.social{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  .social__item{
    background-color: #4e7fc9;
    color: #ffffff;
    width: 33px;
    height: 33px;
    font-size: 14px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
  }
  .social__item--twitter {
    background-color: #1fb7e4;
  }
  .social__item--telegram {
    background-color: #0088cc;
  }
  .social__item--telegram {
    background-color: #0088cc;
  }
  .social__item--whatsapp {
    background-color: #25d366;
  }
  .social__item--reddit {
    background-color: #ff4500;
  }
  .social__item--pinterest {
    background-color: #bd081c;
  }
}
.social__wrap{
  margin-left: -16px;
  text-align: left;
  display: inline-block;
}

.social__title{
  color: $color8;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: 300;
  padding-left: 5px;
}

.social__share-column {
  text-align: right;
}

.social__shares{
  text-align: right;
  color: $color8;
  font-size: 12px;
  margin-top: 19px;
}

.social__validation {
  margin-bottom: -10px;
  padding-left: 60px;
}

