.statistics{
    padding: 64px 0 0;
    text-align: left;
    .statistics-box{
        display: flex;
        flex-flow: row wrap;
    }
    .statistics-box__item{
        flex: 0 0 43%;
        color: $color3;
        &:not(:last-child){
            border-right: 1px solid $color5;
        }
        &.statistics-box__item__wide{
            flex:1 0 50%;
            padding: 0 0 0 27px;
            .statistics-box__item-count{
                font-size: 30px;
                padding: 5px 0 0 0;
                color: $color3;
            }
        }
    }
    .statistics__header{
        text-align: left;
        padding: 0 0 11px 0;
        color: $color3;
        font-size: 14px;
        
    }
    .statistics__header-icon{
        margin: 0 11px 0 0;
        display: inline-block;
        width: 20px;
        height: 16px;
        background: url('../assets/img/chart.png') no-repeat;
    }
    .statistics-box{
        padding: 10px 0;
        border-bottom: 1px solid $color5;
        border-top: 1px solid $color5;
    }
    .statistics-box__item-count{
        padding: 0 0 11px 0;
        color: $color2;
        font-size: 35px;
        font-weight: 600;
    }
    .statistics-box__item-note{
        font-size: 16px;
    }
}