.summary{
    display:flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    .summary__item{
    }
    .summary__item-hedear{
        margin: 0 0 3px;
        font-size: 42px;
        line-height: 44px;
        color: $color3;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        letter-spacing: -1.3px;
    }
    .summary__item-name{
        font-size: 14px;
        line-height: 19px;
        color: $color6;
    }
    .summary__item-note{
        font-size: 14px;
        line-height: 19px;
        color: $color3;
    }
}