.table{
    font-size: 14px;
    line-height: 19px;
    color: $color6;
    border: 1px solid $color5;
    [class*="row"]{
        margin: 0;
        display: flex;
        align-items: center;  
    }
    [class*="col-"]{
        padding: 0;
        display: flex;
        align-items: flex-start;     
    }
    .table__cell,.table__row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .table__row{
        height: 38px;
    }
    .table__cell{
        &.table__cell__align-center{
            justify-content: center;
        }
     }
     .table__cell-fixed{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
    .table__header{
         margin-bottom: 8px;
        border-bottom: 1px solid $color5;
    }
     .table__footer{
        margin-top: 10px;
        border-top: 1px solid $color5;
    }
    .table__header, .table__footer{
        height: 47px;  
        color: $color8;
        background: $color17;
    }
    .table__link{
        color:$color6;
        text-decoration: underline;
    }
}
.table-default{
    text-align: left;
    margin-bottom: 36px;
    
    [class*="col-"]{
        padding-left: 33px;
        &:nth-child(3){
                padding-left: 0;
        }        
    }
    .table-default__header{
        height: 52px;
        font-size: 14px;
        line-height: 22px;
        color: $color18;
        background: $color1;
    }
    .table-default__row{
        height: 79px;  
        [class*="col-"]{
            flex-flow: column wrap;
        }
        border-top: 1px solid $color5;
        &:nth-of-type(1){
            border-top: none;
        }
    }
    .table-default__title{
        color:$color6;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .table-default__note{
        font-size: 14px;
        line-height: 22px;
        color: $color3;
    }
}

.table-total{
    .table__header,.table__footer{
        [class*="col-"]{
            letter-spacing: -0.15px;
        }
    }
    [class*="col-"]{
        padding-left: 43px;
        display: flex;
        align-items: flex-start;
        &:nth-child(3){
            padding-left: 60px;
        }     
    }
    .table__row{
        [class*="col-"]{
            letter-spacing: 0.2px;
        }
    }
}

.table-statements{
    .table__row{
        &:not(:first-child){
            .table__cell:nth-child(4){
                padding-left: 20px;
            }
        }
        &:last-child{
            margin-bottom: 10px;
        }
    }
    .table__cell{
        &:nth-child(1){
            width: 8%;
        }
        &:nth-child(2){
            width: 13%;
        }
        &:nth-child(3){
            width: 10.3%;
        }
        &:nth-child(4){
            width: 9%;
        }
         &:nth-child(5){
            width: 23%;
            letter-spacing: 0.3px;
            .table__link{
                padding-right: 40px;
            }
        }
        &:nth-child(6){
            width: 11%;
        }
        &:nth-child(7){
            width: 14%;
        }
         &:nth-child(8){
            width: 10%;
         }
    }   
}