.tabs-menu{
    border-bottom: 1px solid $color5;
    &.tabs-menu__left-indent{
        padding-left: 74px;
    }
    &.tabs-menu__beyond{
        margin: 0 -55px;
    }
    .tabs-menu__item{
        margin-right: 10px;
        &.active{
            a{
                color: $color15;
                font-weight: 600;
            }
        }
        &:last-child{
            margin-right: 0;
        }
        a{
            padding: 7px 15px;
            color: $color8;
            font-size: 14px;
            line-height: 18px;
            &:hover, &:active, &:focus{
                background: none;
                outline: none;
            }
        }
    }
    &__inner{
        padding-left: 20px;
        .tabs-menu__item{
            margin-right: 17px ;
            padding: 0 15px 0;
            &.active{
                a{
                    border-bottom: 2px solid $color2;
                }
            }
            &__gap-right{
                margin-right: 40px;
            }
            a{
                padding: 3px 0 5px;
            }
        }
    }
}

.tabs-menu_no-border{
  border: none;
}

#tabs{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
    .tabs-wrap{
        padding: 24px 27px 0 0;
        position: relative;
        z-index: 1;
        margin-top: 0;
        &__top-indent{
            margin-top: 39px;
        }
    }
}

#tabs-content{
    display: flex;
}

.tab-wrap-inner.tab-wrap-inner__with-border{
    border: 1px solid #b6b6b6;
    border-top: none;
}

#tabs-inner{
    .tab-wrap-inner{
        margin: 54px 0 0 0;
        &.tab-wrap-inner__small-inent{
            margin: 33px 0 0 0;
        }
        &.tab-wrap-inner__noindent{
            margin: 0;
        }
    }
    .tab-wrap-inner-header{
        margin-bottom: 33px;
    }
}

.tab__header{
    margin: 0 0 35px 0;
    text-align: left;
    &-with-note{
        margin: 0 0 27px;
    }
    &-with-border{
        padding-top: 43px;
        border-top: 1px solid $color5;
    }
}

