.track-versions{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .track-versions__title{
    color: #ffffff;
    margin-right: 13px;
  }
}

.track-versions__wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .track-versions__item{
    fill:#fff;
    padding: 0 13px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    &:hover{
      fill:$color2;
    }
  }
  .track-versions__item_active{
    fill:$color2;
  }
}

.track-info-actions{
  .versions{
    width: 47px;
    min-width: 47px;
  }
}
