.track-info{
  text-align: left;
  padding: 46px 0 46px;
  .track-info__image{
    width: 270px;
    height: 270px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 5px 0;
  }
  .track-info__track-name{
    color: $color1;
    font-size: 42px;
    line-height: 42px;
    word-break: break-all;
    margin-bottom: 4px;
    display: block;
    text-decoration: none;
  }
  .track-info__author{
    font-size: 18px;
    color: $color8;
    word-break: break-all;
    margin-bottom: 27px;
    display: block;
    text-decoration: none;
  }
  .track-info__date-wrap{
    @extend .flexbox;
    @extend .justify-center;
  }
  .track-info__date{
    font-size: 11px;
    color: $color3;
    word-break: break-all;
    display: inline-block;
    &:not(:last-child){
      &:after{
        content: '';
        display:inline-block;
        margin:0 5px;
        width:1px;
        height:9px;
        background: #e0e0e0;
      }
    }
  }
  .track-progress{
    padding-bottom:0;
    .track-progress-wrapper{
      width: auto;
    }
  }
}

 .track-info-actions{
    @extend .flexbox;
    @extend .justify-between;
    @extend .align-center;
    padding-right:24px;
    .track-info-actions__inner-wrap{
       @extend .flexbox;
       @extend .align-center;
    }
    .track-info-actions__note{
      margin-left:10px;
      font-size: 14px;
      line-height:1;
      color: $color11;
    }
    .track-info-actions__item{
      @extend .flexbox;
      @extend .align-center;
    }
    .track-info-actions__item-buy{
      margin-right:32px;
    }
    .track-info-actions__item-like{
      margin-right:30px;
    }
      .btn-primary{
        width: 108px;
        font-size: 16px;
        font-weight: 600;
        color: $color26;
        border: solid 2px #ffcc00;
        background: $color2;
        color: #40403b;
        &:hover{
          background: #f0c000;
          border-color: #f0c000;
        }
      }
  }

.track-info__menu{
  background-color: $color1;
  padding: 15px 19px;
}

.track-info__menu-controls{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  padding: 0 25px 0 33px;
  margin-bottom:26px;
  background: $color24;
  border: 1px solid $color24;
  .btn-track-control__play{
    width: 38px;
    margin-right:25px;
   svg{
     width:36px;
     height:40px;
   }
   .btn-track-control__container{
     width:36px;
     height:40px;
   }
  }
  .track-info__menu-time{
    margin-right: 34px;
    color: $color8;
  }
}

.track-info__menu-controls__wave{
  flex: 1 0 auto;
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

wave>wave{
  border-right: 0!important;
}


