.track,a.track{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  text-decoration: none;
  .track__img-hover{
    display:flex;
    align-items: center;
    justify-content:center;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &.hidden{
      display: flex !important;
      opacity: 0 !important;
      transition: 0.3s;
    }
    svg{
      path{
        fill:$color14;
      }
    }
  }
  .track__img{
    background-repeat: no-repeat;
    width: 61px;
    min-width: 61px;
    height: 61px;
    border: none;
    margin-right: 18px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    .track__img-hover{
      opacity: 1;
      display:flex;
      align-items: center;
      justify-content:center;
    }
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .track__img-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }
  .track__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: auto;
  }
  .track__name{
    font-size: 16px;
    color: $color11;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 2px;
    letter-spacing: 0;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    text-transform: capitalize;
    max-width: 160px;
  }
  .track-inner-group{
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    width: 100%;
    align-items: center;
  }
  .track__author{
    position: relative;
    font-size: 12px;
    color: $color3;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    max-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    max-width: 120px;
    color: $color8;
    &:hover{
      color: $color6;
    }
  }
  .btn-play-track{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin:0;
    border: none;
  }
  &.track__separate{
    position: relative;
    margin-bottom: 0;
    .track__options{
      display: block !important;
    }
  }
  &:focus {
    outline: none;
  }
}

.track.track__shopping-cart{
  align-items: flex-start;
  margin-bottom: 0;
  .track__name{
    margin-bottom: 6px;
    font-size: 18px;
    color: $color15;
  }
}

.track__wrap{
  // margin: 0 32px;
}

.track__options{
  position: absolute;
  top: 15px;
  right: -10px;
  padding: 0 10px;
  cursor: pointer;
  .dropdown-menu__icon{
    color: $color5;
    font-size: 22px;
  }
  .dropdown-menu{
    top: 37px;
    left: 10px;
  }
  .dropup{
    .dropdown-menu{
      top: auto;
      left: 50%;
      margin-bottom:10px;
    }
    .dropdown-options ~ .dropdown-menu:after{
        content: '';
        position: absolute;
        top: auto;
        left: 50%;
        bottom: -7px;
        margin-left: -8px;
        display: inline-block;
        border: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px solid #ffffff;
    }
    .dropdown-options ~ .dropdown-menu:before{
        content: '';
        position: absolute;
        top: auto;
        bottom: -9px;
        margin-left: -8px;
        left: 50%;
        display: inline-block;
        border: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px solid #e8f0f2;
    }
  }
}

