.title{
  font-weight: 100;
  font-size: 14px;
  color: $color3;
  &.title-note{
    line-height: 22px;
    font-weight: 400;
    &__ref-align{
      margin-top: 4px;
      text-indent: -2px;
    }
  }
  &__form-empty{
    line-height: 22px;
    font-weight: 400;
    color: $color8;
  }

}
.title_primary{
  font-size: 42px;
  letter-spacing: -0.3px;
  line-height: 48px;
  color: $color6;
  &.title_primary__inner{
    font-weight: 100;
    color: $color3;
    line-height: 44px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  &.tilte_primary__form{
      margin: 0 0 45px 0;
      font-weight: 100;
      text-indent: -4px;
      color: $color3;
      &.tilte_primary__form-ompressed{
        letter-spacing: -0.8px;
      }
  }
  &__small{
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
  }
  &__letter-indent{
        letter-spacing: 0.3px;
  }
  &__thin{
    font-weight: 100;
  }
  &__indent-bot{
    margin-bottom: 14px;
  }
}
.title_secondary{
  font-size: 23px;
  color: $color3;
  letter-spacing: -0.1px;
}

.title_sub-wrap{
  margin-bottom: 20px;
}

.title_sub-note{
    font-size: 18px;
    line-height: 22px;
    color: $color3;
    &.title_sub-note__top-indent{
      margin-top: 11px;
    }
    &.title_sub-note__withdrawals{
      color: #606060;
    }
}


.title_small{
  color: $color8;
  font-size: 18px;
  line-height: 28px;
}
.title__filter{
  background-color: $color9;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  padding: 7px 30px;
  border: none;
  outline: none;
}

.title_grey{
  color: $color3;
}

.header__primary{
  flex: 0 0 100%;
  letter-spacing: -0.6px;
  font-size: 25px;
  color:#606060;
  text-align: left;
  font-weight: 600;
  .header__primary-note{
    display: inline-block;
    color: $color3;
    font-size: 25px;
    padding-left: 25px;
  }
}

.count-big{
    font-size: 60px;
    line-height: 60px;
}


.text-block{
  text-align: left;
  color:$color8;
  font-size: 14px;
  line-height: 22px;
  &.text-block__indent-bot{
      margin-bottom: 60px;
  }
  .header__primary{
        padding: 38px 0 22px;
  }
  p{
    margin: 0 0 21px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    &.text-block__color-lighter{
      color: $color3;
    }
  }
  &.text-block__uplad-note{
    margin: 17px 0 0 0;
    color: $color3;

    p{
      margin: 0;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}

.text-regular{
  font-weight: 400;
}
