.upload-item-wrap{
    margin-bottom: 80px;
    padding: 0 200px;
}

.upload-item-alert{
    text-align: left;
    padding: 15px 30px;
}

.select-box{
    padding: 47px 0 35px;
    .title_primary{
        padding: 0 0 15px 0;
        text-indent: -3px;
        font-weight: 100;
    }
    .title-note{
        padding-left: 1px;
    }
}

.panel-wrap{
    padding: 7px 0 0 34px;
}

.upload-files{
    &.upload-files__bottom-indent{
        padding: 0 0 4px 0;
    }
    .control-label{
        display: block;
        margin: 0 0 15px 0;
    }
}

.set-tags{
    margin-bottom: 21px;
}

.options-box{
    &.option-box__bottom-indent{
            margin-bottom: 50px;
    }
    .options-box__item{
        margin-bottom: 51px;
        &:last-child{
            margin: 0;
        }
    }
    .help-block{
        margin-top: 10px;
        margin-bottom: 0;
        white-space: nowrap;
    }
    .options-box__item-title{
        margin-bottom: 19px;
        display: block;
        &.options-box__item-title__indent-medium{
            margin-bottom: 22px;
        }
    }

}