$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$zindex-modal-background: 10;
$container-lg: 1280px;
$container-md: 1280px;
$container-sm: 1280px;
$screen-md-min: 320px;
$container-padding:55px;
$grid-gutter-width:30px;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color1: #1e1e1e;
$color2: #ffcc00;
$color3: #b6b6b6;
$color4: #828282;
$color5: #e9e8e8;
$color6: #262626;
$color7: #e8f0f2;
$color8: #909090;
$color9: #990500;
$color10: #393939;
$color11: #606060;
$color12: #373737;
$color13: #fffefe;
$color14: #ffffff;
$color15: #000000;
$color16: #010101;
$color17: #f9f9f9;
$color18: #feffff;
$color19: #75cf00;
$color20: #cf0000;
$color21: #fefefe;
$color22: #9fd300;
$color23: #e8e8e8;
$color24: #fafafa;
$color25: #bc200c;
$color26: #40403b;
$color27: #878787;
$color28: #f6f6f6;
$color29: #d3351f;
$color30: #0f0f0f;
$color31: #303030;
$color32: #7a7a76;
$color33: #222222;
$color34: #8b8b8b;
