.welcom-block{
    overflow: hidden;
    position: relative;
    height: 360px;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.3);
          z-index: 2;
        }
    .welcom-block__bottom-align{
        display: flex;
        height: 100%;
        align-items: flex-end;
        position: relative;
        z-index: 5;
    }
    .welcom-block-wrap{
        position: relative;
        width: 100%;
        margin: 0 -55px;
        padding: 0 55px 69px;
      .download-new-photo_banner{
        right: inherit;
        width: auto;
        padding: 9px 16px;
        top: inherit;
        min-width: 170px;
        left: 55px;
        bottom: 32px;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        .download-new-photo__text{
          color: #fff;
        }

      }
    }
    .welcom-block__background-image{
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left:0;
        top: -9999px;
        bottom: -9999px;
        margin: auto 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50%;
    }
}
@media (min-width: 1370px){
    .welcom-block{
        height: 360px;
    }
}

@media (min-width: 1520px){
    .welcom-block{
        height: 400px;
    }
}

@media (min-width: 1670px){
    .welcom-block{
        height: 450px;
    }
}

@media (min-width: 1820px){
    .welcom-block{
        height: 500px;
    }
}





